datadir="/var/lib/proxysql"
admin_variables=
{
           admin_credentials="admin:admin"
           mysql_ifaces="0.0.0.0:6032;/tmp/proxysql_admin.sock"
          refresh_interval=200
          debug=true
}
mysql_variables=
{
        threads=4
        max_connections=2048
        default_query_delay=0
        default_query_timeout=36000000
        have_compress=true
#   transaction_persistent=true
        poll_timeout=200
        interfaces="0.0.0.0:6033;/tmp/proxysql.sock"
        default_schema="information_schema"
        stacksize=1048576
        server_version="5.5.30"
        connect_timeout_server=3
        monitor_history=600
        monitor_connect_interval=600
        monitor_ping_interval=10000
        monitor_read_only_interval=1500
        monitor_read_only_timeout=500
        ping_interval_server=10
        ping_timeout_server=5
        commands_stats=true
        sessions_sort=false
        connect_retries_on_failure=10
    #enforce_autocommit_on_reads=true
}
# defines all the MySQL servers
mysql_servers =
(
        { address="172.16.1.1" , port=3306 , hostgroup=0, max_connections=100 },
        { address="172.16.1.2" , port=3306 , hostgroup=1, max_connections=100 },
        { address="172.16.1.3" , port=3306 , hostgroup=1, max_connections=100 }
)
# defines all the MySQL users
mysql_users:
(
          { username = "proxy" , password = "sql" , default_hostgroup = 0 , active = 1 },
          { username = "proxy" , password = "sql" , default_hostgroup = 1 , active = 1 }
)
#defines MySQL Query Rules
mysql_query_rules:
(
          {
              rule_id=1
              active=1
              match_pattern="^SELECT .* FOR UPDATE$"
              destination_hostgroup=0
              apply=1
          },
          {
              rule_id=2
              active=1
              match_pattern="^SELECT"
              destination_hostgroup=1
              apply=1
          }
)
mysql_replication_hostgroups=
(
        {
                writer_hostgroup=0
                reader_hostgroup=1
                comment="test repl 1"
       }
)
