.scheduler {
  display: flex;
  .schedulerItem {
    gap: rem(24);
    flex-direction: column;
    margin-right: auto;
    border: rem(1) solid var(--quaternary-color);
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius-sm;
    padding: rem(8);
    @include breakpoint('lg') {
      flex-direction: row;
      align-items: center;
    }
    .label {
      width: 60px;
      font-weight: bold;
      //background-color: var(--quaternary-color);
    }
    .dayMonthWeek {
      .btnDrodown {
        width: rem(150);
        padding: rem(4);
        text-align: left;
      }
      .menuList {
        min-width: rem(80);
        width: rem(80);
        max-height: rem(400);
        overflow: auto;
        //   button {
        //     width: rem(80) !important;
        //   }
      }
    }
    .timepicker {
      div[class*='react-time-picker__wrapper'] {
        display: flex;
        width: rem(180);

        div[class*='react-time-picker__inputGroup'] {
          display: flex;
          justify-content: space-evenly;
          input {
            width: rem(40) !important;
            height: rem(40);
            border-radius: $border-radius-xs;
            margin: auto;
            font-weight: bold;
            text-align: center;
            font-size: rem(16);
          }

          [class*='__inputGroup__divider'] {
            @include flex-center;
            width: rem(16);
            font-size: rem(16);
            font-weight: bold;
          }
        }
        button[class*='__clear-button'] {
          margin-left: rem(16);
        }
      }
    }
  }
}
