<div class="col-lg-12">

    <div  ng-cloak="" class="tabsdemoDynamicHeight" ng-app="dashboard">
        <div style="padding: 10px 5px 10px 4px;">
          <div ng-include src="'static/monitor-interval.html'"></div>
          <div ng-include src="'static/menu-monitor.html'"></div>
          <div ng-include src="'static/monitor-dialogs.html'"></div>
          <div class="alert alert-warning" ng-if="menuOpened">
            <strong>Warning!</strong> The data is not refreshed since {{openedAt}}.
          </div>
        </div>
        <md-content layout="column">
          <md-tabs ng-if="selectedClusterName=='Default' || !selectedCluster"   md-dynamic-height="" md-border-bottom="" >
              <md-tab   label="Clusters">
                  <div ng-include src="'static/tab-clusters-list.html'"></div>
              </md-tab>
            </md-tabs>
            <md-tabs  ng-if="selectedClusterName!='Default' && selectedCluster"  md-dynamic-height="" md-border-bottom="" >
                <md-tab  ng-if="!selectedServer" ng-click="onTabClicked('Dashboard')"  md-select-id="Dashboard" md-on-select="onTabSelected" label="Dashboard">
                    <div style="min-height:800px" ng-include src="'static/tab-cluster-dashboard.html'"></div>
                </md-tab>
                <md-tab ng-if="!selectedServer"  ng-click="onTabClicked('Alerts')" md-select-id="Alerts" md-on-select="onTabSelected" label="Alerts ^{{alerts.errors.length}}">
                    <div ng-include src="'static/tab-cluster-alerts.html'"></div>
                </md-tab>

                <md-tab ng-if="!selectedServer" ng-click="onTabClicked('Proxies')"  md-select-id="Proxies" md-on-select="onTabSelected" label="Proxies">
                    <div ng-include src="'static/tab-cluster-proxies.html'"></div>
                </md-tab>
                <md-tab ng-if="!selectedServer"  ng-click="onTabClicked('Settings')" md-select-id="Settings" md-on-select="onTabSelected" label="Settings">
                    <div ng-include src="'static/tab-cluster-settings.html'"></div>
                </md-tab>
                <md-tab md-select-id="Graphs" ng-click="onTabClicked('Graphs')"  md-on-select="onTabSelected" label="Graphs" ng-if="!selectedServer && settings.config.graphiteMetrics">
                    <div ng-include src="'static/tab-cluster-graphs.html'"></div>
                </md-tab>
                <md-tab md-select-id="Agents" ng-click="onTabClicked('Agents')" md-on-select="onTabSelected" label="Agents" ng-if="settings.config.enterprise && !selectedServer">
                    <div ng-include src="'static/tab-cluster-agents.html'"></div>
                </md-tab>
                <md-tab md-select-id="Agents" ng-click="onTabClicked('Backups')" md-on-select="onTabSelected" label="Backups" ng-if="selectedCluster.config.backupRestic && !selectedServer">
                    <div ng-include src="'static/tab-cluster-backups.html'"></div>
                </md-tab>
                <md-tab md-select-id="QueryRules" ng-click="onTabClicked('QueryRules')" md-on-select="onTabSelected" label="QueryRules" ng-if="selectedCluster.config.proxysql && !selectedServer">
                    <div ng-include src="'static/tab-cluster-queryrules.html'"></div>
                </md-tab>

                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('Processlist')"  md-select-id="Processlist" md-on-select="onTabSelected" label="Processlist">
                    <div style="min-height:800px"  ng-include src="'static/tab-server-process.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('LogSlow')"  md-select-id="LogSlow"  md-on-select="onTabSelected" label="Slow Queries">
                    <div ng-include src="'static/tab-server-slow.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('PFSQueries')"  md-select-id="PFSQueries"  md-on-select="onTabSelected" label="Digest Queries">
                    <div ng-include src="'static/tab-server-pfs-statements.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('LogError')" md-select-id="LogError" md-on-select="onTabSelected" label="Errors">
                    <div ng-include src="'static/tab-server-errors.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('Tables')" md-select-id="Tables" md-on-select="onTabSelected" label="Tables">
                    <div ng-include src="'static/tab-server-tables.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('Status')" md-select-id="Status" md-on-select="onTabSelected" label="Status">
                    <div ng-include src="'static/tab-server-status.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('StatusInnoDB')" md-select-id="StatusInnoDB" md-on-select="onTabSelected" label="Status InnoDB">
                    <div ng-include src="'static/tab-server-statusinnodb.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('Variables')" md-select-id="Variables" md-on-select="onTabSelected" label="Variables">
                    <div ng-include src="'static/tab-server-variables.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('ServiceOpenSVC')" md-select-id="ServiceOpenSVC" md-on-select="onTabSelected" label="Service OpenSVC">
                    <div ng-include src="'static/tab-server-serviceopensvc.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('MetaDataLocks')" md-select-id="MetaDataLocks" md-on-select="onTabSelected" label="Metatata Locks">
                    <div ng-include src="'static/tab-server-meta-data-locks.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedServer && !selectedQuery" ng-click="onTabClicked('QueryResponseTime')" md-select-id="QueryResponseTime" md-on-select="onTabSelected" label="Response Time">
                    <div ng-include src="'static/tab-server-query-response-time.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedQuery" ng-click="onTabClicked('QueryExplain')" md-select-id="QueryExplain" md-on-select="onTabSelected" label="Explain Plan">
                    <div ng-include src="'static/tab-query-explain.html'"></div>
                </md-tab>
                <md-tab ng-if="!selectedServer" ng-click="onTabClicked('Shards')" md-on-select="onTabSelected" label="Shards">
                    <div ng-include src="'static/tab-cluster-shards.html'"></div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <footer class="footer">
        <div >
            <span align="right" class="text-muted">Replication-Manager {{settings.fullVersion}} © 2017 SIGNAL 18 SARL</span>
        </div>
    </footer>
</div>
