<div ng-controller="DashboardController" class="col-lg-12">
    <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="dashboard">
        <table width="100%">
            <tr>
              <td>
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
              </td>
                <td>
                  <span class="title"><img src="/static/img/logo.png" alt="Replication Manager"/></span>
                </td>
                <td>
                    <form name="myForm">
                        <md-panel>
                            <md-card-content>
                                <label for="cluster">
                                    <md-select width="100%" name="repeatSelect" id="repeatSelect" ng-model="selectedClusterName">
                                        <md-option ng-selected="{{element == settings.clusters}}" ng-repeat="element in settings.clusters" value="{{element}}">
                                            {{element}}</option>
                                    </md-select>
                                </label>
                            </md-card-content>
                        </md-panel>
                    </form>
                </td>
                <td>
                  <i ng-if="isLoggedIn" ng-click="logout()" class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                </td>
            </tr>

        </table>
        <md-content layout="column">
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Dashboard">
                    <div ng-include src="'static/dash.html'"></div>
                </md-tab>
                <md-tab label="Alerts ^{{alerts.errors.length}}">
                    <div ng-include src="'static/alert.html'"></div>
                </md-tab>
                <md-tab label="Sla">
                    <div ng-include src="'static/sla.html'"></div>
                </md-tab>
                <md-tab label="Proxies">
                    <div ng-include src="'static/proxy.html'"></div>
                </md-tab>
                <md-tab label="Settings">
                    <div ng-include src="'static/setting.html'"></div>
                </md-tab>
                <md-tab label="Jobs">
                    <div ng-include src="'static/job.html'"></div>
                </md-tab>
                <md-tab label="Graphs" ng-if="settings.config.graphiteMetrics==true">
                    <div ng-include src="'static/graph.html'"></div>
                </md-tab>
                <md-tab label="Agents" ng-if="settings.config.enterprise==true" >
                    <div ng-include src="'static/agent.html'"></div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Replication-Manager {{settings.version}} © 2017 SIGNAL 18 SARL</span>
        </div>
    </footer>
</div>
