<div class="col-lg-12">

    <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="dashboard">
        <div style="padding: 10px 5px 10px 4px;">
            <table width="100%" border=0>
                <tr>
                  <td align="left">
                    <span style="padding: 0px 0px 10px 0px"  ng-click="toggleLeft()" class="title"><img src="/static/img/logo.png"  alt="Replication Manager"/></span>
                  </td>
                    <td align="right" >
                      <span style="padding: 0px -0px 0px 0px"   ng-click="toggleRight()">
                       <md-icon  md-menu-origin class="fa fa-2x fa-bars" style="color:#468cc5"></md-icon>
                     </span>
                    </td>

                </tr>
            </table>
        </div>
        <md-sidenav class="md-sidenav-right" md-component-id="right" layout="column" layout-align="top center"
                    md-whiteframe="4" style="padding: 20px 20px 20px 20px;">
            <ul class="nav navbar-nav">
                <md-nav-list>
                    <md-list-item>
                        <li class="text-center">
                            <a ng-click="openClusterDialog()" data-toggle="modal" data-target="#myClusterDialog"><i
                                    class="fa fa-3x fa-folder-open"></i><br>Open<BR><BR></a>
                        </li>
                    </md-list-item>
                    <md-list-item>
                        <li width="100%" class="text-center">
                            <a ng-click="newClusterDialog()" data-toggle="modal" data-target="#myNewClusterDialog"><i
                                    class="fa fa-3x fa-plus-circle"></i><br>New<BR><BR></a>
                        </li>
                    </md-list-item>
                    <md-list-item ng-if="selectedClusterName">
                        <li class="text-center">
                            <a href="#" data-toggle="collapse" data-target="#three"><i class="fa fa-3x fa-list-alt"></i><br>Settings<BR><BR></a>
                        </li>
                    </md-list-item>
                    <li ng-if="isLoggedIn" class="text-center">
                        <a ng-click="logout()" href="#" data-toggle="collapse" data-target="#three"><i class="fa fa-3x fa-sign-out"></i><br>Logout
                            <BR><BR></a>
                    </li>
                </md-nav-list>
            </ul>
        </md-sidenav>
        <div class="hidden">
            <div class="md-dialog-container" id="myClusterDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">Choose a Cluster</h2>
                    <md-select width="100px" name="repeatSelect" id="repeatSelect" ng-model="selectedClusterName">
                        <md-option ng-selected="{{element == selectedClusterName}}"
                                   ng-repeat="element in settings.clusters" ng-value="element"
                                   selected="{{ element === ctrl.selectedClusterName ? 'selected' : '' }}">
                                        {{element}}</md-option>
                        </md-select>
                    <md-button ng-click="closeClusterDialog()" class="md-primary">
                        Ok
                    </md-button>

                </md-dialog>
            </div>
        </div>
        <div class="hidden">
            <div class="md-dialog-container" id="myNewClusterDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">New Cluster</h2>
                    <form>
                        <input type="text" ng-model="dlgClusterName">
                    </form>
                    <md-button ng-click="cancelNewClusterDialog()" class="md-primary">
                        Cancel
                    </md-button>
                    <md-button ng-click="closeNewClusterDialog()" class="md-primary">
                        Ok
                    </md-button>
                </md-dialog>
            </div>
        </div>
        <div class="hidden">
            <div class="md-dialog-container" id="myNewServerDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">New Server</h2>
                    <form>
                        Host: <input type="text" ng-model="dlgServerName"><BR>
                        Port: <input type="text" ng-model="dlgServerPort">
                        Type:  <md-select ng-model="selectedMonitor" ng-model-options="{trackBy: '$value.id'}">
    <md-option ng-value="monitor" ng-repeat="monitor in monitors">{{ monitor.name }}</md-option>
  </md-select>
                    </form>
                    <md-button ng-click="cancelNewServerDialog()" class="md-primary">
                        Cancel
                    </md-button>
                    <md-button ng-click="closeNewServerDialog()" class="md-primary">
                        Ok
                    </md-button>
                </md-dialog>
            </div>
        </div>
        <div class="hidden">
            <div class="md-dialog-container" id="myClusterCredentialDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">Database Server Credential</h2>
                    <form>
                        User: <input type="text" ng-model="dlgClusterUser"><BR>
                        Password: <input type="password" ng-model="dlgClusterPassword">
                    </form>
                    <md-button ng-click="cancelClusterCredentialDialog()" class="md-primary">
                        Cancel
                    </md-button>
                    <md-button ng-click="closeClusterCredentialDialog()" class="md-primary">
                        Ok
                    </md-button>
                </md-dialog>
            </div>
        </div>
        <div class="hidden">
            <div class="md-dialog-container" id="myRplCredentialDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">Replication Credential</h2>
                    <form>
                        User: <input type="text" ng-model="dlgRplUser"><BR>
                        Password: <input type="password" ng-model="dlgRplPassword">
                    </form>
                    <md-button ng-click="cancelRplCredentialDialog()" class="md-primary">
                        Cancel
                    </md-button>
                    <md-button ng-click="closeRplCredentialDialog()" class="md-primary">
                        Ok
                    </md-button>
                </md-dialog>
            </div>
        </div>
        <div class="hidden">
            <div class="md-dialog-container" id="myClusterDebugDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">JSON</h2>
                    <form>
                      <textarea name="message" rows="30" cols="150">
                        {{selectedCluster}}
                      </textarea>
                    </form>
                    <md-button ng-click="closeDebugClusterDialog()" class="md-primary">
                        Ok
                    </md-button>
                </md-dialog>
            </div>
        </div>
        <div class="hidden">
            <div class="md-dialog-container" id="myServerDebugDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">JSON</h2>
                    <form>
                      <textarea name="message" rows="30" cols="150">
                        {{servers}}
                      </textarea>
                    </form>
                    <md-button ng-click="closeDebugServerDialog()" class="md-primary">
                        Ok
                    </md-button>
                </md-dialog>
            </div>
        </div>
        <div class="hidden">
            <div class="md-dialog-container" id="myProcessListDialog">
                <md-dialog style="padding: 20px 20px 20px 20px;">
                    <h2 class="md-title">JSON</h2>
                    <form>
                      <textarea name="message" rows="30" cols="150">
                        {{selectedCluster}}
                      </textarea>
                    </form>
                    <md-button ng-click="closeProcessListDialog" class="md-primary">
                        Ok
                    </md-button>
                </md-dialog>
            </div>
        </div>


        <div class="alert alert-warning" ng-if="menuOpened">
          <strong>Warning!</strong> The data is not refreshed since {{openedAt}}.
        </div>
        <div class="alert alert-warning" ng-if="!selectedCluster">
          <strong>Warning!</strong> Multiple clusters use menu to open!
        </div>
        <md-content layout="column">
            <md-tabs md-dynamic-height="" md-border-bottom="" >
                <md-tab label="Dashboard">
                    <div style="min-height:800px" ng-include src="'static/dash.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedClusterName" label="Alerts ^{{alerts.errors.length}}">
                    <div ng-include src="'static/alert.html'"></div>
                </md-tab>

                <md-tab ng-if="selectedClusterName" label="Proxies">
                    <div ng-include src="'static/proxy.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedClusterName" label="Settings">
                    <div ng-include src="'static/setting.html'"></div>
                </md-tab>
                <md-tab ng-if="selectedClusterName" label="Jobs">
                    <div ng-include src="'static/job.html'"></div>
                </md-tab>
                <md-tab label="Graphs" ng-if="settings.config.graphiteMetrics && selectedClusterName">
                    <div ng-include src="'static/graph.html'"></div>
                </md-tab>
                <md-tab label="Agents" ng-if="settings.config.enterprise">
                    <div ng-include src="'static/agent.html'"></div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <footer class="footer">
        <div >
            <span align="right" class="text-muted">Replication-Manager {{settings.fullVersion}} © 2017 SIGNAL 18 SARL</span>
        </div>
    </footer>
</div>
