.showmore {
  text-decoration: underline;
  color: var(--primary-color);
}

.modalbodyText {
  white-space: wrap;
  display: flex;
  flex-direction: column;
  gap: rem(16);
  button[class*='btnCopy'] {
    margin-top: rem(20);
    position: relative;
    left: 0 !important;
    right: 0 !important;
    background-color: var(--secondary-color) !important;
    display: flex;
    gap: rem(16);
  }
}
