.container {
  position: relative;
  font-size: rem(16);
  white-space: pre;
  .btnCopy {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(26, 36, 42, 0.5) !important;

    &.right {
      right: 0;
    }
    &.center {
      right: 25%;
      left: 25%;
    }
    &:hover {
      background-color: rgba(26, 36, 42, 0.5);
    }
  }
}
