.orchContainer {
  .tags {
    padding: rem(16);
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .dropdownMenuList {
    max-height: rem(350);
    overflow: auto;
    z-index: 3;
  }
}
