.certificateContainer {
  border-radius: $border-radius-sm;
  overflow: hidden;
  gap: 0 !important;
  .heading {
    font-size: rem(20);
    text-align: start;
    width: 100%;
    padding: rem(8);
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
}
