# config.toml
# Example replication-manager configuration file

# change the service file  in /etc/systemd/system/replication-manager.service to looks like :
# replication-manager  --config=./etc/config.toml.sample  --cluster=Cluster01,Cluster_Test_2_Nodes monitor

[Cluster_Haproxy_MultiMaster]

title = "ClusterTestMultiMaster"
db-servers-hosts = "127.0.0.1:3315,127.0.0.1:3316"
db-servers-prefered-master = "127.0.0.1:3315"
db-servers-credential = "root:test"
db-servers-connect-timeout = 1

replication-credential = "root:test"
replication-multi-master = true

haproxy = true
haproxy-write-port=3300
haproxy-read-port=3301


[Default]
prov-orchestrator = "local"
db-servers-binary-path= "/usr/local/mysql/bin/"
haproxy-binary-path= "/usr/local/bin/haproxy"
verbose = true
http-server = true
http-bind-address = "0.0.0.0"
