*~
replication-manager*
*.rpm
*.deb
copyright.*
*.tar.gz
build*
maxscale*.rpm
.idea
googleapis/
share/dashboard/node_modules/
.vscode/
.vscode-server/
.viminfo
.bash_history
.bashrc
.cache/
.gnupg/
.nvm/
.npm/
.ssh/
share/dashboard/node_modules
.vim/
share/dashboard_react/.vite/
.gitconfig
.gitignore.swp
etc/opensvc/cluster-api/cluster-demo/priyanka.toml
.replication-manager/
data/
.config/
marie.Reveal
share/dashboard_react/package-lock.json

