.backupContainer {
  width: 100%;
  align-items: flex-start !important;
  .accordion {
    width: 100%;
  }
  .accordionPanel {
    overflow: auto !important;
  }
  .table {
    font-size: rem(14);
    th {
      padding-top: rem(8);
      padding-bottom: rem(8);
    }

    .cellStack {
      align-items: flex-start;
    }
    .cellValue {
      white-space: nowrap;
      text-align: start;
    }
  }
  .snapshotContainer {
    width: 100%;
    .statsTable {
      margin-top: rem(8);
      table[class*='table'] {
        font-size: rem(16);
        tr > td[class*='bodyColumn'] {
          line-height: rem(30);
        }
      }
    }
    .table {
      tr[class*='headerRow'] {
        background-color: var(--quaternary-color) !important;
      }
    }
  }
}
