<md-card>
    <table ng-if="settings" class="table">
      <tr>
          <th>ProxySQL Monitor</th>
      </tr>
      <tr>
          <td>
              <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.proxysql"
                         ng-click="switchsettings('proxysql')" aria-label="Monitor ProxySQL">
                  <span ng-if="selectedCluster.config.proxysql" class="label label-primary">On</span><span
                      ng-if="!selectedCluster.config.proxysql" class="label label-warning">Off</span>
          </td>
          </md-switch>
          </td>
      </tr>
    </table>
    <table ng-if="settings && selectedCluster.config.proxysql" class="table">


        <tr>
            <th>ProxySQL Bootstap Servers</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.proxysqlBootstrap"
                           ng-click="switchsettings('proxysql-bootstrap-servers')" aria-label="Bootstrap Servers">
                    <span ng-if="selectedCluster.config.proxysqlBootstrap" class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.proxysqlBootstrap" class="label label-warning">Off</span>
            </td>
            </md-switch>
            </td>
        </tr>

        <tr>
            <th>ProxySQL Bootsrap Users</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false"
                           ng-model="selectedCluster.config.proxysqlBootstrapyUsers"
                           ng-click="switchsettings('proxysql-bootstrap-users')" aria-label="Bootstrap Users">
                    <span ng-if="selectedCluster.config.proxysqlBootstrapyUsers"
                          class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.proxysqlBootstrapyUsers" class="label label-warning">Off</span>
            </td>
            </md-switch>
            </td>
        </tr>
        <tr>
            <th>ProxySQL Bootsrap Variables</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false"
                           ng-model="selectedCluster.config.proxysqlBootstrapyVariables"
                           ng-click="switchsettings('proxysql-bootstrap-variables')" aria-label="Bootstrap Variables">
                    <span ng-if="selectedCluster.config.proxysqlBootstrapyVariables"
                          class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.proxysqlBootstrapyVariables" class="label label-warning">Off</span>
            </td>
            </md-switch>
            </td>
        </tr>
        <tr>
            <th>ProxySQL Bootsrap Hostgroups</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false"
                           ng-model="selectedCluster.config.proxysqlBootstrapHostgroups"
                           ng-click="switchsettings('proxysql-bootstrap-hostgroups')" aria-label="Bootstrap Hostgroups">
                    <span ng-if="selectedCluster.config.proxysqlBootstrapHostgroups"
                          class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.proxysqlBootstrapHostgroups" class="label label-warning">Off</span>
            </td>
            </md-switch>
            </td>
        </tr>

        <tr>
            <th>ProxySQL Bootsrap Query Rules</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false"
                           ng-model="selectedCluster.config.proxysqlBootstrapQueryRules"
                           ng-click="switchsettings('proxysql-bootstrap-query-rules')" aria-label="Bootstrap Query Rules">
                    <span ng-if="selectedCluster.config.proxysqlBootstrapQueryRules"
                          class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.proxysqlBootstrapQueryRules" class="label label-warning">Off</span>
            </td>
            </md-switch>
            </td>
        </tr>
    </table>
</md-card>
