<md-card ng-if="servers">
    <table ng-if="settings" class="table">
      <col style="width: 10%;">
      <col style="width: 30%;">
      <col style="width: 70%;">
        <tr>
           <th>
               <div align="right" ng-include src="'static/menu-cluster.html'"></div>
           </th>
           <th style="text-align:left;">Cluster</th>
           <th style="text-align:right;" align="right"><span align="right" ng-if="selectedCluster.activePassiveStatus=='A'"
                      class="label label-success">ACTIVE</span><span align="right"
                    ng-if="selectedCluster.activePassiveStatus=='S'"
                    class="label label-warning">STANDBY</span>
            </th>
        </tr>
        <tr>
            <td colspan=2>Name</td>
            <td><span  style="display:inline-block;margin: 2px;" class="label label-default" ng-if="!selectedClusterName">Default</span><span
                 style="display:inline-block;margin: 2px;"  class="label label-default"  ng-if="selectedClusterName">{{selectedClusterName}}</span> </td>
        </tr>
        <tr>
            <td colspan=2>
                Orchestrator
            </td>
            <td><span style="display:inline-block;margin: 2px;" class="label label-info">{{selectedCluster.config.provOrchestrator}}</span>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                Status
            </td>
            <td><div>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.config.testInjectTraffic" class="label label-success">PrxTraffic</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isProvision" class="label label-success">IsProvision</span>
              <span style="display:inline-block;margin: 2px;" ng-if="!selectedCluster.isProvision" class="label label-warning">NeedProvision</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isNeedDatabasesRollingRestart" class="label label-warning">NeedRollingRestart</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isNeedDatabasesRollingReprov" class="label label-warning">NeedRollingReprov</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isNeedDatabasesRestart" class="label label-warning">NeedDabaseRestart</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isNeedDatabasesReprov" class="label label-warning">NeedDatabaseReprov</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isNeedProxiesRestart" class="label label-warning">NeedProxyRestart</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isNeedProxiesReprov" class="label label-warning">NeedProxyReprov</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isNotMonitoring" class="label label-warning">UnMonitored</span>
              <span style="display:inline-block;margin: 2px;" ng-if="selectedCluster.isCapturing" class="label label-warning">Capturing</span>
              </div>
            </td>
        </tr>
          </table>
</md-card>
