<md-card>
    <table ng-if="settings" class="table">
        <tr>
            <th>Checks All Replication Constraint</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.checkReplicationState"
                           ng-click="switchsettings('check-replication-state')"
                           aria-label="Failover in Sync">
                    <span ng-if="selectedCluster.config.checkReplicationState"
                          ng-click="switchsettings('check-replication-state')" class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.checkReplicationState" ng-click="rplchecks()"
                        class="label label-warning">Off</span>
                </md-switch>
            </td>
        </tr>
        <tr>
            <th>Failover Only On Semi-sync State Sync</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.failoverAtSync"
                           ng-click="switchsettings('failover-at-sync')" aria-label="Failover in Sync">
                    <span ng-if="selectedCluster.config.failoverAtSync" ng-click="switchsettings('failover-at-sync')"
                          class="label label-primary">On</span>
                    <span ng-if="!selectedCluster.config.failoverAtSync"
                                                                     ng-click="failsync()"
                                                                     class="label label-warning">Off</span>
                </md-switch>
            </td>
        </tr>
        <tr>
            <th>Failover Using Pseudo GTID</th>
        </tr>
        <tr>
            <td>
                <md-switch  ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false"
                           ng-model="selectedCluster.config.autorejoinSlavePositionalHeartbeat"
                           ng-click="switchsettings('autorejoin-slave-positional-heartbeat')"
                           aria-label="Auto rejoin using pseudo GTID">
                    <span ng-if="selectedCluster.config.autorejoinSlavePositionalHeartbeat"
                          class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.autorejoinSlavePositionalHeartbeat" class="label label-warning">Off</span>

            </md-switch>
            </td>
        </tr>
        <tr>
            <th>Switchover Only On Semi-sync State Sync</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.switchoverAtSync"
                           ng-click="switchsettings('switchover-at-sync')()"
                           aria-label="Switchover in Sync">
                    <span ng-if="selectedCluster.config.switchoverAtSync"
                          ng-click="switchsettings('switchover-at-sync')"
                          class="label label-primary">On</span><span ng-if="!selectedCluster.config.switchoverAtSync"
                                                                     ng-click="switchsync()"
                                                                     class="label label-warning">Off</span>
                </md-switch>
            </td>
        </tr>
        <tr>
            <th>Replication Max Delay</th>
        </tr>
        <tr>
            <td>
                <md-slider ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-value="selectedCluster.config.failoverMaxSlaveDelay" md-discrete ng-if="selectedCluster.config.checkReplicationState" flex
                           ng-model="selectedMaxSlaveDelay" ng-change="changemaxdelay(selectedMaxSlaveDelay)" step="1" min="10" max="100" aria-label="delay">
                </md-slider>

                <span class="label label-primary">{{selectedCluster.config.failoverMaxSlaveDelay}}</span>

            </td>
        </tr>
        <tr>
            <th>Switchover wait unmanaged proxy monitor detection</th>
        </tr>
        <tr>
            <td>
                <md-slider ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-value="selectedCluster.config.switchoverWaitRouteChange" md-discrete flex
                           ng-model="selectedSwitchoverWaitRouteChange" ng-change="changeswitchoverwaitroutechange(selectedSwitchoverWaitRouteChange)" step="1" min="0" max="10" aria-label="<!-- WARNING:  -->ait">
                </md-slider>

                <span class="label label-primary">{{selectedCluster.config.switchoverWaitRouteChange}}</span>

            </td>
        </tr>
    </table>
</md-card>
