
<md-content class="md-padding" >
  <md-grid-list  md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="8px">



      <md-grid-tile  ng-repeat="cluster in clusters">

<md-card>


   <table style="table-layout: fixed;width: 100%" border=0  class="table">
     <col style="width: 30%;">
    <col style="width: 70%;">
     <tr valign="middle">
        <th   ng-click="openCluster(cluster.name)" colspan=2><img ng-click="openCluster(cluster.name)" width=32px src="static/img/database-Schema.png"/>   {{cluster.name}}</th>
     </tr>
     <tr> <td>Topology</td><td>{{cluster.topology}}</td>    </tr>
     <tr><td>Servers</td><td  class="servers">{{cluster.dbServers}}</td>    </tr>
     <tr><td>Is Down</td><td>{{cluster.isDown}}</td>    </tr>
     <tr><td>Is Provisionned</td><td>{{cluster.isProvisionned}}</td>    </tr>
     <tr><td>Last Failover</td><td>{{cluster.failoverLastTime}}</td>    </tr>
   </table>
</md-card>
</md-grid-tile>



</md-grid-list>
</md-content>
