
  <md-content class="md-padding">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span>Actions</span></h2>
        <md-button class="md-raised" ng-if="master.State !='Failed'" ng-click="switch(false)" aria-label="Switchover"><i class="fa fa-toggle-on" aria-hidden="true"></i>
        Switchover</md-button>
        <md-button class="md-raised md-warn" ng-if="master.State =='Failed'" ng-click="switch(true)" aria-label="Failover"><i class="fa fa-toggle-on" aria-hidden="true"></i>
        Failover</md-button>
        <md-button class="md-raised" ng-if="master.State !='Failed'" aria-label="Reset Failover Counter"></i><i class="fa fa-undo" aria-hidden="true"></i>
          Reset Failover Counter</md-button>
      </div>
    </md-toolbar>
    <md-card>
        <div ng-if="reserror" class="alert alert-danger" role="alert">Cannot connect to the http server backend. Status
            will not update.
        </div>
    </md-card>
    <div layout="column" layout-gt-xs="row">
        <div flex-gt-xs="30" class="col-lg-33">
            <md-card>
                <table class="table">

                    <tr>
                        <th>Cluster Name</th>
                        <th>Topology</th>
                    </tr>
                    <tr>
                        <td><span ng-if="!selectedClusterName" class="label label-primary">DEFAULT</span><span
                                ng-if="selectedClusterName" class="label label-info">{{selectedClusterName}}</span>
                        </td>
                        <td><span class="label label-info">{{selectedCluster.topology}}</span>
                        </td>
                    </tr>
                </table>

            </md-card>
        </div>
        <div flex-gt-xs="10"></div>
        <div flex-gt-xs="60" class="col-lg-66">
            <md-card>

                <table ng-if="settings" class="table">
                    <tr>
                        <th>Manager Status</th>
                        <th>Failover Count</th>
                        <th>Last Failover Time</th>
                    </tr>
                    <tr>
                        <td><span ng-if="selectedCluster.activePassiveStatus=='A'"
                                  class="label label-success">ACTIVE</span><span
                                ng-if="selectedCluster.activePassiveStatus=='S'"
                                class="label label-warning">STANDBY</span>
                        </td>
                        <td>{{selectedCluster.failoverCounter}} / {{selectedCluster.config.failoverLimit}}</td>
                        <td>{{selectedCluster.failoverLastTime}}</td>
                    </tr>
                </table>
            </md-card>
        </div>
    </div>
<md-card>
    <md-card-content>
        <p class="sectionheader">SERVERS</p>
    </md-card-content>
<table ng-if="servers" class="table">

    <tr>
        <th>Host</th>
        <th>Port</th>
        <th>Version</th>
        <th>Status</th>
        <th>Priority</th>
        <th ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true ">Using GTID</th>
        <th ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Current GTID</th>
        <th ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Slave GTID Pos</th>
        <th ng-if="servers[0].dbVersion.flavor!='MariaDB' && slaves[0].haveMysqlGtid==true">Executed GTID Set</th>
        <th ng-if="slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">File</th>
        <th ng-if="slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">Pos</th>
        <th>IO Thread</th>
        <th>SQL Thread</th>
        <th>Delay</th>
        <th>Read Only</th>
        <th>Fail Count</th>
        <th>Scheduler</th>
        <th>Master Sync</th>
        <th>Slave Sync</th>
        <th>Actions</th>
    </tr>

<tbody>
<tr ng-repeat="server in servers"
    ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }">
    <td>{{server.host}}</td>
    <td>{{server.port}}</td>
    <td>{{server.dbVersion.flavor}} {{server.dbVersion.major}}.{{server.dbVersion.minor}}</td>
    <td ng-switch="server.state">
        <span ng-switch-when="Master" class="label label-primary">Master<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
        <span ng-switch-when="Failed" class="label label-danger">Failed<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
        <span ng-switch-when="Suspect" class="label label-warning">Suspect<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
        <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error<label
                ng-if="server.isVirtualMaster==true">-VMaster</label></span>
        <span ng-switch-when="StandAlone" class="label label-info">Standalone<label
                ng-if="server.isVirtualMaster==true">-VMaster</label></span>
        <span ng-switch-default class="label label-default">{{server.state}}<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
    </td>
    <td ng-if="server.ignored==true"><i class="fa fa-2x fa-thumbs-down text-danger"/></td>
    <td ng-if="server.prefered==true"><i class="fa fa-2x fa-thumbs-up text-success"/></td>
    <td ng-if="server.prefered==false && server.ignored==false"></td>
<td ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">{{server.replications[0].usingGtid.String}}</td>
<td ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">{{gtidstring(server.currentGtid)}}</td>
<td ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">{{gtidstring(server.slaveGtid)}}</td>
<td ng-if="server.dbVersion.flavor!='MariaDB' && slaves[0].haveMysqlGtid==true ">{{server.gtidExecuted}}</td>
<th ng-if="server.isSlave==true &&  slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.replications[0].masterLogFile.String}}</th>
<th ng-if="server.isSlave==true &&  slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.replications[0].execMasterLogPos.String}}</th>
<th ng-if="server.isSlave==false && slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.binaryLogFile}}</th>
<th ng-if="server.isSlave==false && slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.binaryLogPos}}</th>

<td>{{server.replications[0].slaveIoRunning.String}}</td>
<td>{{server.replications[0].slaveIoRunning.String}}</td>
<td>{{server.replications[0].secondsBehindMaster.Int64}}</td>
<td>{{server.readOnly}}</td>
<td>{{server.failCount}}/{{server.failSuspectHeartbeat}}</td>
    <td ng-if="server.eventScheduler==true"><i class="fa fa-2x fa-check-circle text-success"></i>
    </td>
    <td ng-if="server.eventScheduler==false"><i class="fa fa-2x fa-times-circle text-danger"></i>
    </td>
    <td ng-if="server.semiSyncMasterStatus==true"><i class="fa fa-2x fa-check-circle text-success"></i>
    </td>
    <td ng-if="server.semiSyncMasterStatus==false"><i class="fa fa-2x fa-times-circle text-danger"></i>
    </td>
    <td ng-if="server.semiSyncSlaveStatus==true"><i class="fa fa-2x fa-check-circle text-success"></i>
    </td>
    <td ng-if="server.semiSyncSlaveStatus==false"><i class="fa fa-2x fa-times-circle text-danger"></i>
    </td>
    <td>
        <button width=18 height=18 type="button" ng-click="maintenance(server.id)">
            <md-tooltip md-direction="down">Toggle Maintenance Mode</md-tooltip>
            <img width=18 height=18 src="/static/img/maintenance.png">
        </button>
        <button ng-if="settings.config.enterprise==true || settings.config.test==true" width=18 height=18 type="button"
                ng-click="stop(server.id)">
            <md-tooltip md-direction="down">Stop Database</md-tooltip>
            <img width=18 height=18 src="/static/img/stop.png">
        </button>
        <button ng-if="settings.config.enterprise==true || settings.config.test==true" width=18 height=18 type="button"
                ng-click="start(server.id)">
            <md-tooltip md-direction="down">Start Database</md-tooltip>
            <img width=18 height=18 src="/static/img/start.png">
        </button>
        <button width=18 height=18 type="button" ng-click="optimize(server.id)">
            <md-tooltip md-direction="down">Optimize Database</md-tooltip>
            <img width=18 height=18 src="/static/img/defrag.png">
        </button>
        <button ng-if="server.id==master.id" width=18 height=18 type="button" ng-click="backupphysical(server.id)">
            <md-tooltip md-direction="down">Physcical Backup</md-tooltip>
            <img width=18 height=18 src="/static/img/backup.png">
        </button>
        <md-menu>
        <md-button aria-label="Open server interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
          <i class="fas fa-ellipsis-h"></i>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button>
            Maintenance mode
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>
            Optimize
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </td>
</tr>
</tbody>
</table>
</md-card>

<div layout="column" layout-gt-xs="row">
<div flex-gt-xs="30" class="col-lg-33">

  <md-card>
      <md-card-content>
          <p class="sectionheader">SLA</p>
      </md-card-content>
      <table ng-if="settings"  md-table class="table md-primary md-data-table">
                <tr md-row><th>Monitor Tickers</th> <td>{{selectedCluster.monitorSpin}}</td></tr>
                <tr md-row><th>Master Available</th><td>{{selectedCluster.uptime}}</td></tr>
                <tr md-row><th>Can Failover Acceptable Data Loss</th><td>{{selectedCluster.uptimeFailable}}</td></tr>
                <tr md-row><th>Can Failover No Data Loss</th><td>{{selectedCluster.uptimeSemisync}}</td></tr>
      </table>
        </md-card>
        <BR>
    <md-card>
        <md-card-content>
            <p class="sectionheader">ACTIONS</p>
        </md-card-content>

        <table class="table">
            <tr>
                <td>
                    <md-button ng-if="master.state !='Failed'" type="button" class="btn btn-primary" ng-click="optimizeAll()">
                        Rolling Optimize
                    </md-button>
                    <md-button ng-if="master.state !='Failed'" type="button" class="btn btn-primary"
                            ng-click="backupphysical()">Physical Backup
                    </md-button>
                </td>
            </tr>
        </table>
    </md-card>
    <BR>

<md-card ng-if="settings.config.enterprise==true">
    <md-card-content ng-if="settings.config.enterprise==true">
        <p class="sectionheader">PRO</p>
    </md-card-content>

<table class="table" ng-if="settings.config.enterprise==true">
    <tr>
        <td>
            <md-button ng-if="settings.config.test==true" type="button" class="btn btn-primary" ng-click="provision()">
                Bootstrap
            </md-button>
            <md-button ng-if="settings.config.enterprise==true" type="button" class="btn btn-primary" ng-click="unprovision()">
                Unprovision
            </md-button>
            <md-button ng-if="settings.config.enterprise==true" type="button" class="btn btn-primary" ng-click="rolling()">
                Rolling Upgrade
            </md-button>
            <BR>
            <BR>
        </td>
    </tr>
<tr>
<td>
<div ng-repeat="tag in selectedCluster.dbServersTags"> <span class="label label-success">{{ tag }}<span></div>
</td>
</tr>
</table>
</md-card>
    <BR>

<md-card ng-if="settings.config.test==true">
<table class="table">
<tr>
<td>
    <labelfor="test" action="/runonetest" >
    <p class="sectionheader">Tests</p>
    </label><BR>
<md-select name="repeatSelect" id="repeatSelect" ng-model="tests" ng-change="runonetest()">
        <md-option   ng-selected="{{element == settings.tests}}"
        ng-repeat="element in settings.tests"  value="{{element}}">{{element}}</option>
</md-select>
    <br/><br/>
    <md-button type="button" class="btn btn-primary" ng-click="provision()">Provision</md-button>
    <md-button type="button" class="btn btn-primary" ng-click="unprovision()">Unprovision</md-button>
    <br/><br/>
    <md-button type="button" class="btn btn-primary" ng-click="test()">Run Tests</button>
    <md-button type="button" class="btn btn-primary" ng-click="sysbench()">Sysbench</button>
    <md-button type="button" class="btn btn-primary" ng-click="toggletraffic()">Toggle Traffic</md-button><BR>

</td>
    <td>
    </td>
</tr>
</table>
</md-card>
</div>
    <div flex-gt-xs="5"></div>
<div flex-gt-xs="65" class="col-lg-66">
<md-card>
    <md-card-content><p class="sectionheader">LOGS</p></md-card-content>
<md-card-content style="height: 400px; overflow-y: auto">
<md-pre>
<table class="log">
<tr ng-repeat="logline in logs" ng-if="logline.timestamp">
<td class="stamp">{{ logline.timestamp }}</td>
<td ng-switch="logline.level">
<span ng-switch-when="INFO" class="label label-info">{{ logline.level }}</span>
<span ng-switch-when="WARN" class="label label-warning">{{ logline.level }}</span>
<span ng-switch-when="ERROR" class="label label-danger">{{ logline.level }}</span>
<span ng-switch-when="DEBUG" class="label label-primary">{{ logline.level }}</span>
<span ng-switch-default class="label label-default">{{ logline.level }}</span>
<td class="text">{{ logline.text }}</td>
</tr>
</table>
</md-pre>
</md-card-content>

</md-card>
</div>
</div>
</md-content>
