<md-content class="md-padding">



<div ng-repeat="server in servers">

      <md-card>
    <md-card-content   class="serverlogitem">
      <p class="sectionheader">ERROR LOG {{server.host}}:{{server.port}}</p>
      <BR>


               <table class="log">
                  <tr ng-repeat="logline in server.errorLog.buffer" ng-if="logline.timestamp">
                     <td class="stamp">{{ logline.timestamp }}</td>
                     <td ng-switch="logline.level">
                        <span ng-switch-when="INFO" class="label label-info">{{ logline.level }}</span>
                        <span ng-switch-when="Warning" class="label label-warning">{{ logline.level }}</span>
                        <span ng-switch-when="Error" class="label label-danger">{{ logline.level }}</span>
                        <span ng-switch-when="Note" class="label label-primary">{{ logline.level }}</span>
                        <span ng-switch-default class="label label-default">{{ logline.level }}</span>
                     <td class="text">{{ logline.text }}</td>
                  </tr>
               </table>
             </md-card-content>
         </md-card>
         <BR>
         <md-card>
             <md-card-content>
                   <table  class="slowlog" >
                      <tr>
                         <th rowspan=2>At</th>
                         <th rowspan=2>Query</th>
                         <th rowspan=2>User</th>
                         <th rowspan=2>Time</th>
                         <th rowspan=2>Lock</th>
                         <th rowspan=2>Cache</th>
                         <th rowspan=2>Thread</th>
                         <th colspan=3>Rows</th>
                      </tr>
                      <tr>
                         <th>Examined</th>
                         <th>Send</th>
                         <th>Affected</th>
                      </tr>
                      <tr ng-repeat="logline in server.slowLog.Buffer" ng-if="logline.timestamp">
                         <td class="stamp">{{ logline.timestamp }}</td>
                         <td class="text">{{ logline.query }}    </td>
                         <td class="text">{{ logline.user }}@{{ logline.host }}</td>
                         <td class="text">{{ logline.timeMetrics.queryTime }}</td>
                         <td class="text">{{ logline.timeMetrics.LockTime }}</td>
                         <td class="text">{{ logline.boolMetrics.qcHit }}</td>
                         <td class="text">{{ logline.numberMetrics.threadId }}</td>
                         <td class="text">{{ logline.numberMetrics.rowsExamined }}</td>
                         <td class="text">{{ logline.numberMetrics.rowsSent }}</td>
                         <td class="text">{{ logline.numberMetrics.rowsAffected }}</td>
                      </tr>
                   </table>
                 </md-card-content>
             </md-card>

</div>

</md-content>
