<md-sidenav class="md-sidenav-right" md-component-id="right" layout="column" layout-align="top center"
            md-whiteframe="4" style="padding: 20px 20px 20px 20px;">
    <ul class="nav navbar-nav">
        <md-nav-list>
            <md-list-item ng-if="selectedCluster">
                <li class="text-center">
                    <a ng-click="back()" data-toggle="modal" data-target="#myClusterDialog"><i
                            class="fa fa-3x fa-arrow-circle-left"></i><br>Back<br/><br/></a>
                </li>
            </md-list-item>
            <md-list-item>
                <li width="100%" class="text-center">
                    <a ng-click="newClusterDialog()" data-toggle="modal" data-target="#myNewClusterDialog"><i
                            class="fa fa-3x fa-plus-circle"></i><br>New<br/><br/></a>
                </li>
            </md-list-item>
            <md-list-item ng-if="selectedClusterName">
                <li class="text-center">
                    <a href="#" data-toggle="collapse" data-target="#three"><i class="fa fa-3x fa-list-alt"></i><br>Settings<br/><br/></a>
                </li>
            </md-list-item>
            <li ng-if="isLoggedIn" class="text-center">
                <a ng-click="logout()" href="#" data-toggle="collapse" data-target="#three"><i class="fa fa-3x fa-sign-out"></i><br>Logout
                    <br/><br/></a>
            </li>
        </md-nav-list>
    </ul>
</md-sidenav>
