<md-menu >
    <md-button  class="md-raised" aria-label="Open queries interactions menu"
               ng-click="$mdMenu.open($event)"
               style="min-width:20px;margin: 2px 2px 2px 2px;padding: 0 2px 0 2px;">
        <md-span md-menu-origin class="fas fa-1x fa-bars" comment="fa-ellipsis-h"></md-span>
    </md-button>
    <md-menu-content>
        <md-menu-item ng-click="queryExplainSlowLog(logline.digest)">
            <md-button>
                <md-icon md-menu-align-target class="fas fa-pause"></md-icon>
                Explain
            </md-button>
        </md-menu-item>
        <md-menu-item ng-click="queryAnalyzeSlowLog(logline.digest)">
            <md-button>
                <md-icon md-menu-align-target class="fas fa-pause"></md-icon>
                Analyze
            </md-button>
        </md-menu-item>

    </md-menu-content>
</md-menu>
