<table width="100%" border=0>
    <tr>
      <td width=20% align="left">
        <span style="padding: 0px 0px 10px 0px"  ng-click="toggleLeft()" class="title"><img src="/static/img/logo.png"  alt="Replication Manager"/></span>
      </td>
      <td width="10%"" align="right">
        <md-button class="btn btn-default"  ng-click="toogleRefresh()">
          <md-icon style="color:#468cc5"   ng-class="{'fa fa-stop': !menuOpened,'fa fa-play': menuOpened}"></md-icon>
        </md-button>
      </td>
      <td width=60%>

          <div class="col-xs-3">
              <div ng-if="selectedClusterName" class="input-group number-spinner"   >
                                  <span  class="input-group-btn data-dwn">

                                      <button class="btn btn-default " data-dir="dwn"
                                              ng-click="calculateInterval(-1000)"
                                              ng-disabled="refreshInterval <= 2000" style="color:#468cc5">
                                          <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                  </span>
                  <input type="number" class="form-control text-center"
                         name="refreshInterval"
                         readonly="readonly"
                         ng-model="refreshInterval"
                         ng-change="checkIfAllowedInterval(refreshInterval)"/>
                  <span class="input-group-btn data-up">
                                      <button class="btn btn-default" data-dir="up"
                                              ng-click="calculateInterval(1000)"
                                              ng-disabled="refreshInterval > 600000"
                                              style="color:#468cc5" >
                                      <span  class="glyphicon glyphicon-plus"/></span></button>

                                  </span>

              </div>
          </div>
          <div  ng-if="selectedClusterName" class="col-xs-3">
              <h6>Auto reload every
              <small>{{refreshInterval/1000}} seconds</small>.</h6></div>
          </div>
      </td>
        <td align="right" >
            <span style="padding: 0px -0px 0px 0px"   ng-click="toggleRight()">
          <md-icon  md-menu-origin class="fa fa-2x fa-bars" style="color:#468cc5"></md-icon>
         </span>
        </td>

    </tr>
</table>
