<div class="hidden">
    <div class="md-dialog-container" id="myClusterDialog">
        <md-dialog class="padding20">
            <h2 class="md-title">Choose a Cluster</h2>
            <md-select width="100px" name="repeatSelect" id="repeatSelect" ng-model="selectedClusterName">
                <md-option ng-selected="{{element == selectedClusterName}}"
                           ng-repeat="element in settings.clusters" ng-value="element"
                           selected="{{ element === ctrl.selectedClusterName ? 'selected' : '' }}">
                                {{element}}</md-option>
                </md-select>
            <md-button ng-click="closeClusterDialog()" class="md-primary">
                Ok
            </md-button>
        </md-dialog>
    </div>
</div>


<div class="hidden">
    <div class="md-dialog-container"  id="myNewClusterDialog">
        <md-dialog flex="50" style="padding: 20px 20px 20px 20px;">
            <h2 class="md-title">New Cluster</h2>
            <form>
              Name:  <input type="text" ng-model="$parent.dlgAddClusterName"/>
              <md-input-container class="md-block">
              Orchestrator:  <md-select name="selectedOrchestrator" ng-model="$parent.selectedOrchestrator"   ng-change="$parent.setorchestrator(selectedOrchestartor.name)"  >
 <md-option ng-disabled="item.available==false" ng-value="item" ng-repeat="item in orchestrators track by item.id" >{{ item.name }}</md-option>
</md-select>
</md-input-container>
              <md-input-container class="md-block">
              Plan:  <md-select name="selectedPlan" ng-if="settings.config.provServicePlanRegistry!=''" ng-model="$parent.selectedPlan"   ng-change="$parent.setplan(selectedPlan.plan)"  >
 <md-option ng-value="item" ng-repeat="item in plans track by item.id" >{{ item.plan }}</md-option>
</md-select>
</md-input-container>
    Plan: {{selectedPlan.plan}} Mem: {{selectedPlan.dbmemory}},  cpu: {{selectedPlan.dbcores}} ,  iops: {{selectedPlan.dbiops}}
<md-button ng-click="cancelNewClusterDialog()" class="md-primary">
    Cancel
</md-button>
            <md-button ng-click="closeNewClusterDialog(selectedPlan.plan,selectedOrchestrator.name)" class="md-primary">
                Ok
            </md-button>
            </form>
        </md-dialog>
    </div>
</div>


<div class="hidden" >
  <div class="md-dialog-container" id="myNewUserDialog">
      <md-dialog style="padding: 20px 20px 20px 20px;">
         <form>
           User:  <input type="text" ng-model="$parent.dlgAddUserName"/>
   <li ng-repeat="acl in newUserAcls">
    <input type="checkbox"  ng-model="acl.enable" /> {{acl.grant}}
   </li>

       </form>
       {{$parent.selectedAcls}}
       <md-button ng-click="cancelNewUserDialog()" class="md-primary">
           Cancel
       </md-button>
       <md-button ng-click="closeNewUserDialog()" class="md-primary">
             Ok
       </md-button>
  </md-dialog>

</div>
</div>
