
                        <md-content class="md-padding">
                            <md-card ng-repeat="proxy in proxies">
                                <md-card-content>
                                    <p class="sectionheader">{{proxy.type}}</p>
                                </md-card-content>
                                <table ng-if="proxies" class="table">
                                    <tbody>


                                        <tr valign="middle">
                                            <th>Actions</th>
                                            <th>Id</th>
                                            <th>Host</th>
                                            <th>Port</th>
                                            <th>Version</th>
                                            <th ng-if="proxy.type!='proxysql'">WritePort</th>
                                            <th ng-if="proxy.type=='proxysql'">WriterHG</th>
                                            <th ng-if="proxy.type!='proxysql'">ReadPort</th>
                                            <th ng-if="proxy.type=='proxysql'">ReaderHG</th>
                                            <th>ReadWritePort</th>
                                        </tr>
                                        <tr>
                                            <td>
                                              <md-menu >
                                                 <md-button aria-label="Open proxy interactions menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                                    <md-span md-menu-origin class="fas fa-ellipsis-h"></md-span>
                                                 </md-button>
                                                 <md-menu-content>
                                                    <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true">
                                                       <md-menu >
                                                          <md-button ng-click="$mdMenu.open($event)">
                                                             <span md-menu-align-target>
                                                                Provision
                                                                <md-icon  class="fas fa-arrow-right"></md-icon>
                                                             </span>
                                                          </md-button>
                                                          <md-menu-content>
                                                             <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true" ng-click="prxprovision(proxy.id)">
                                                                <md-button>
                                                                   <md-icon md-menu-align-target class="fas fa-cogs"></md-icon>
                                                                   Provision Proxy
                                                                </md-button>
                                                             </md-menu-item>
                                                             <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true" ng-click="prxunprovision(proxy.id)">
                                                                <md-button>
                                                                   <md-icon md-menu-align-target class="fas fa-trash"></md-icon>
                                                                   Unprovision Proxy
                                                                </md-button>
                                                             </md-menu-item>
                                                          </md-menu-content>
                                                       </md-menu>
                                                 </md-menu-item>
                                                 </md-menu-content>
                                              </md-menu>

                                            </td>
                                            <td>{{proxy.id}}</td>
                                            <td>{{proxy.host}}</td>
                                            <td>{{proxy.port}}</td>
                                            <td>{{proxy.version}}</td>
                                            <td>{{proxy.writePort}}</td>
                                            <td>{{proxy.readPort}}</td>
                                            <td>{{proxy.readWritePort}}</td>

                                        </tr>
                                        <tr>

                                            <td colspan="7">

                                                <table  class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Role</th>
                                                            <th>Host</th>
                                                            <th>Port</th>
                                                            <th>Status</th>
                                                            <th>Proxy Name</th>
                                                            <th>Proxy Status</th>
                                                            <th>Proxy Connections</th>
                                                            <th>Proxy Bytes Out</th>
                                                            <th>Proxy Bytes In</th>
                                                            <th>Proxy Session Avg Time</th>
                                                            <th ng-if="proxy.type=='proxysql'">Proxy Hostgroup</th>
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="server in proxy.backendsWrite" ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }">
                                                        <th>Write</th>
                                                        <td>{{server.host}}</td>
                                                        <td>{{server.port}}</td>
                                                        <td>{{server.status}}</td>
                                                        <td>{{server.prxName}}</td>
                                                        <td>{{server.prxStatus}}</td>
                                                        <td>{{server.prxConnections}}</td>
                                                        <td>{{server.prxByteOut}}</td>
                                                        <td>{{server.prxByteIn}}</td>
                                                        <td>{{server.prxLatency}}</td>
                                                        <td ng-if="proxy.Type=='proxysql'">{{server.PrxHostgroup}}</td>
                                                    </tr>
                                                    <tr ng-repeat="server in proxy.backendsRead" ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }">
                                                        <th>Read</th>
                                                        <td>{{server.host}}</td>
                                                        <td>{{server.port}}</td>
                                                        <td>{{server.status}}</td>
                                                        <td>{{server.prxName}}</td>
                                                        <td>{{server.prxStatus}}</td>
                                                        <td>{{server.prxConnections}}</td>
                                                        <td>{{server.prxByteOut}}</td>
                                                        <td>{{server.prxByteIn}}</td>
                                                        <td>{{server.prxLatency}}</td>
                                                        <td ng-if="proxy.type=='proxysql'">{{server.PrxHostgroup}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-card>

                        </md-content>
