<md-content class="md-padding">
  <div  ng-repeat="proxy in proxies">


         <md-menu >
              <md-button aria-label="Open proxy interactions menu" class="md-raised" ng-click="$mdMenu.open($event)">
                 <md-icon md-menu-origin class="fa fa-bars "></md-icon>
              </md-button>
              <md-menu-content>
                 <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true">
                    <md-menu >
                       <md-button ng-click="$mdMenu.open($event)">
                          <span md-menu-align-target>
                             Provision
                             <md-icon  class="fas fa-arrow-right"></md-icon>
                          </span>
                       </md-button>
                       <md-menu-content>
                          <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true" ng-click="prxprovision(proxy.id)">
                             <md-button>
                                <md-icon md-menu-align-target class="fas fa-cogs"></md-icon>
                                Provision Proxy
                             </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true" ng-click="prxunprovision(proxy.id)">
                             <md-button>
                                <md-icon md-menu-align-target class="fas fa-trash"></md-icon>
                                Unprovision Proxy
                             </md-button>
                          </md-menu-item>
                       </md-menu-content>
                    </md-menu>
                 </md-menu-item>
              </md-menu-content>
           </md-menu>

      <div layout="column" layout-gt-xs="row">
      <div flex-gt-xs="30" class="col-lg-30">
        <md-card>
         <table style="table-layout: fixed;width: 100%;" border=0 ng-if="proxies" class="table">
            <tr valign="middle">
               <th colspan=2>{{proxy.type}}</th>

            </tr>
            <tr>
               <td style="min-width:40px;" >Id</td>
               <td>{{proxy.id}}</td>
            </tr>
            <tr>
               <td>Server

               </td>
               <td style="overflow: hidden;">
                 <span title="{{proxy.host}}">
              {{proxy.host}}
            </span>
               </td>
            </tr>
            <td>Port</td>
            <td>{{proxy.port}}</td>
            <tr>
               <td>Version</td>
               <td>{{proxy.version}}</td>
            </tr>
            <tr>
               <td >Write Port</td>
               <td >{{proxy.writePort}}</td>
            </tr>
            <tr>
               <td ng-if="proxy.type=='proxysql'">Writer HG</td>
               <td ng-if="proxy.type=='proxysql'">{{proxy.writerHostgroup}}</td>
            </tr>
            <tr>
               <td>Read Port</td>
               <td>{{proxy.readPort}}</td>
            </tr>
            <tr>
               <td ng-if="proxy.type=='proxysql'">Reader HG</td>
               <td ng-if="proxy.type=='proxysql'">{{proxy.readerHostgroup}}</td>
            </tr>
            <tr>
               <td>Read Write Port</td>
               <td>{{proxy.readWritePort}}</td>
            </tr>
         </table>
       </md-card>
      </div>
      <div flex-gt-xs="5" class="col-lg-5"></div>
      <div flex-gt-xs="65" class="col-lg-65">
        <md-card>
         <table  border=0 class="table">
            <thead>
               <tr>
                  <th>Host Group</th>
                  <th>Db Name</th>
                  <th>Db Status</th>
                  <th>Bck Name</th>
                  <th>Bck Status</th>
                  <th>Bck Conns</th>
                  <th>Bck Bytes Out</th>
                  <th>Bck Bytes In</th>
                  <th>Bck Session Time</th>
                  <th ng-if="proxy.type=='proxysql'">Prx Host Group</th>
               </tr>
            </thead>
            <tr ng-repeat="server in proxy.backendsWrite" ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }">
               <td>Write</td>
               <td>{{server.host}}:{{server.port}}</td>
               <td ng-switch="server.status">
                  <span ng-switch-when="Master" class="label label-primary">Master<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Failed" class="label label-danger">Failed<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Suspect" class="label label-warning">Suspect<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="StandAlone" class="label label-info">Standalone<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-default class="label label-default">{{server.status}}<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
               </td>
               <td>{{server.prxName}}</td>
               <td>{{server.prxStatus}}</td>
               <td>{{server.prxConnections}}</td>
               <td>{{server.prxByteOut}}</td>
               <td>{{server.prxByteIn}}</td>
               <td>{{server.prxLatency}}</td>
               <td ng-if="proxy.Type=='proxysql'">{{server.prxHostgroup}}</td>
            </tr>
          </table>
        </md-card>
          <BR>
              <md-card>
         <table class="table">
            <tr>
              <th>Host Group</th>
              <th>Db Name</th>
              <th>Db Status</th>
              <th>Bck Name</th>
              <th>Bck Status</th>
              <th>Bck Conns</th>
              <th>Bck Bytes Out</th>
              <th>Bck Bytes In</th>
              <th>Bck Session Time</th>
              <th ng-if="proxy.type=='proxysql'">Prx Host Group</th>
            </tr>

            <tr ng-repeat="server in proxy.backendsRead" ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }">
               <td>Read</td>
               <td>{{server.host}}:{{server.port}}</td>
               <td ng-switch="server.status">
                  <span ng-switch-when="Master" class="label label-primary">Master<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Failed" class="label label-danger">Failed<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Suspect" class="label label-warning">Suspect<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="StandAlone" class="label label-info">Standalone<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-default class="label label-default">{{server.status}}<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
               </td>
               <td>{{server.prxName}}</td>
               <td>{{server.prxStatus}}</td>
               <td>{{server.prxConnections}}</td>
               <td>{{server.prxByteOut}}</td>
               <td>{{server.prxByteIn}}</td>
               <td>{{server.prxLatency}}</td>
               <td ng-if="proxy.type=='proxysql'">{{server.prxHostgroup}}</td>
            </tr>
         </table>
       </md-card>
      </div>
      </div>

   <BR>
 </diV>

</md-content>
