<md-content class="md-padding">
    <div layout="column" layout-gt-xs="row">
        <div flex-gt-xs="30" class="col-lg-33">
            <md-card>

                <table ng-if="settings" class="table">

                    <tr>
                        <th>Failover Mode (interactive)</th>
                    </tr>


                    <tr>
                        <td>
                            <md-switch ng-model="settings.interactive=='true'" ng-click="inttoggle()" aria-label="Mode Change">
                                <span ng-if="settings.interactive=='true'" class="label label-primary">On-call (manual)</span><span ng-if="settings.interactive=='false'" class="label label-warning">On-leave (auto)</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                </table>
            </md-card>
            <BR>
            <md-card>
                <table ng-if="settings" class="table">
                    <tr>
                        <th>Test Mode</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.test=='true'" ng-click="settest()" aria-label="Test Mode Change">
                                <span ng-if="settings.test=='true'" class="label label-primary">On</span><span ng-if="settings.test=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Verbose</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.verbose=='true'" ng-click="verbose()" aria-label="Verbosity Change">
                                <span ng-if="settings.verbose=='true'" class="label label-primary">On</span><span ng-if="settings.verbose=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>
                </table>

        </div>
        </md-card>


        <div flex-gt-xs="30" class="col-lg-33">
            <md-card>
                <table ng-if="settings" class="table">
                    <tr>
                        <th>Checks All Replication Constraint</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.rplchecks=='true'" ng-click="rplchecks()" aria-label="Failover in Sync">
                                <span ng-if="settings.rplchecks=='true'" ng-click="rplchecks()" class="label label-primary">On</span><span ng-if="settings.rplchecks=='false'" ng-click="rplchecks()" class="label label-warning">Off</span>
                            </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>SemiSync Failover Only On State Sync</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.failsync=='true'" ng-click="failsync()" aria-label="Failover in Sync">
                                <span ng-if="settings.failsync=='true'" ng-click="failsync()" class="label label-primary">On</span><span ng-if="settings.failsync=='false'" ng-click="failsync()" class="label label-warning">Off</span>
                            </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>SemiSync Switchover Only On State Sync</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.switchsync=='true'" ng-click="switchsync()" aria-label="Switchover in Sync">
                                <span ng-if="settings.switchsync=='true'" ng-click="switchsync()" class="label label-primary">On</span><span ng-if="settings.switchsync=='false'" ng-click="switchsync()" class="label label-warning">Off</span>
                            </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Replication Max Delay</th>
                    </tr>
                    <tr>
                        <td>
                            <md-slider class="md-primary" flex ng-model="settings.maxdelay" min="10" max="1000" aria-label="delay"></md-slider>

                            <span ng-if="settings.rplchecks=='true'" ng-click="rplchecks()" class="label label-primary">{{settings.maxdelay}}</span><span ng-if="settings.rplchecks=='false'" ng-click="rplchecks()" class="label label-warning">{{settings.maxdelay}}</span>
                        </td>
                    </tr>
                </table>
            </md-card>
        </div>



        <div flex-gt-xs="30" class="col-lg-33">
            <md-card>
                <table ng-if="settings" class="table">
                    <tr>
                        <th>Auto Rejoin</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.rejoin=='true'" ng-click="setrejoin()" aria-label="Auto Rejoin">
                                <span ng-if="settings.rejoin=='true'" class="label label-primary">On</span><span ng-if="settings.rejoin=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Auto Rejoin Backup ahead events</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.rejoinbackupbinlog=='true'" ng-click="setrejoinbackupbinlog()" aria-label="Auto Rejoin">
                                <span ng-if="settings.rejoinbackupbinlog=='true'" class="label label-primary">On</span><span ng-if="settings.rejoinbackupbinlog=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Auto Rejoin Semisync SYNC state</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.rejoinsemisync=='true'" ng-click="setrejoinsemisync()" aria-label="Auto Rejoin">
                                <span ng-if="settings.rejoinsemisync=='true'" class="label label-primary">On</span><span ng-if="settings.rejoinsemisync=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Auto Rejoin Flashback</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.rejoinflashback=='true'" ng-click="setrejoinflashback()" aria-label="Auto Rejoin">
                                <span ng-if="settings.rejoinflashback=='true'" class="label label-primary">On</span><span ng-if="settings.rejoinflashback=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Auto Rejoin Dump</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.rejoindump=='true'" ng-click="setrejoindump()" aria-label="Auto Rejoin">
                                <span ng-if="settings.rejoindump=='true'" class="label label-primary">On</span><span ng-if="settings.rejoindump=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Auto Rejoin Pseudo GTID</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-model="settings.rejoinpseudogtid=='true'" ng-click="setrejoinpseudogtid()" aria-label="Auto Rejoin Pseudo GTID">
                                <span ng-if="settings.rejoinpseudogtid=='true'" class="label label-primary">On</span><span ng-if="settings.rejoinpseudogtid=='false'" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>
                </table>
            </md-card>
        </div>
    </div>


</md-content>
