<md-content class="md-padding">
  <div  ng-repeat="proxy in proxies">


         <md-menu >
              <md-button aria-label="Open proxy interactions menu" class="md-raised" ng-click="$mdMenu.open($event)">
                 <md-icon md-menu-origin class="fa fa-bars "></md-icon>
              </md-button>
              <md-menu-content>
                 <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true">
                    <md-menu >
                       <md-button ng-click="$mdMenu.open($event)">
                          <span md-menu-align-target>
                             Provision
                             <md-icon  class="fas fa-arrow-right"></md-icon>
                          </span>
                       </md-button>
                       <md-menu-content>
                          <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true" ng-click="prxprovision(proxy.id)">
                             <md-button>
                                <md-icon md-menu-align-target class="fas fa-cogs"></md-icon>
                                Provision Proxy
                             </md-button>
                          </md-menu-item>
                          <md-menu-item ng-if="settings.config.enterprise==true || settings.config.test==true" ng-click="prxunprovision(proxy.id)">
                             <md-button>
                                <md-icon md-menu-align-target class="fas fa-trash"></md-icon>
                                Unprovision Proxy
                             </md-button>
                          </md-menu-item>
                       </md-menu-content>
                    </md-menu>
                 </md-menu-item>
              </md-menu-content>
           </md-menu>

      <div layout="column" layout-gt-xs="row">
      <div flex-gt-xs="25" class="col-lg-25">
        <md-card>
         <table style="table-layout: fixed;width: 100%;" border=0 ng-if="proxies" class="table">
           <colgroup>
    <col style="width: 35%;">
    <col style="width: 65%;">
</colgroup>
            <tr valign="middle">
               <th colspan=2>{{proxy.type}}</th>

            </tr>
            <tr>
               <td style="min-width:40px;" >Id</td>
               <td>{{proxy.id}}</td>
            </tr>
            <tr>
               <td>Server</td>
               <td  style="white-space: -o-pre-wrap;word-wrap:break-word;white-space: pre-wrap;dwhite-space: -moz-pre-wrap;white-space: -pre-wrap;">{{proxy.host}}</td>
            </tr>
            <td>Port</td>
            <td>{{proxy.port}}</td>
            <tr>
               <td>Version</td>
               <td>{{proxy.version}}</td>
            </tr>
            <tr>
               <td >Write Port</td>
               <td >{{proxy.writePort}}</td>
            </tr>
            <tr>
               <td ng-if="proxy.type=='proxysql'">Writer HG</td>
               <td ng-if="proxy.type=='proxysql'">{{proxy.writerHostgroup}}</td>
            </tr>
            <tr>
               <td>Read Port</td>
               <td>{{proxy.readPort}}</td>
            </tr>
            <tr>
               <td ng-if="proxy.type=='proxysql'">Reader HG</td>
               <td ng-if="proxy.type=='proxysql'">{{proxy.readerHostgroup}}</td>
            </tr>
            <tr>
               <td>Read Write Port</td>
               <td>{{proxy.readWritePort}}</td>
            </tr>
         </table>
       </md-card>
      </div>
      <div flex-gt-xs="5" class="col-lg-5"></div>
      <div flex-gt-xs="75" class="col-lg-75">
        <md-card>
         <table style="table-layout: fixed;width: 100%;"  border=0 class="table">
            <thead>
               <tr>
                 <th width="70px">Group</th>
                 <th >Db Name</th>
                 <th width="90px">DB Status</th>
                 <th width="90px">PX Status</th>
                 <th width="85px">Conns</th>
                 <th width="85px">Bytes Out</th>
                 <th width="85px">Bytes In</th>
                 <th width="90px">Sess Time</th>
                 <th width="90px" ng-if="proxy.type=='proxysql'">Id Group</th>
               </tr>
            </thead>
            <tr ng-repeat="server in proxy.backendsWrite" ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }">
               <td>Write</td>
               <td  style="white-space: -o-pre-wrap;word-wrap:break-word;white-space: pre-wrap;dwhite-space: -moz-pre-wrap;white-space: -pre-wrap;">{{server.prxName}}</td>
               <td ng-switch="server.status">
                  <span ng-switch-when="Master" class="label label-primary">Master<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Failed" class="label label-danger">Failed<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Suspect" class="label label-warning">Suspect<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="StandAlone" class="label label-info">Standalone<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-default class="label label-default">{{server.status}}<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
               </td>
               <td>{{server.prxStatus}}</td>
               <td>{{server.prxConnections}}</td>
               <td>{{server.prxByteOut}}</td>
               <td>{{server.prxByteIn}}</td>
               <td>{{server.prxLatency}}</td>
               <td ng-if="proxy.type=='proxysql'">{{server.prxHostgroup}}</td>
            </tr>
          </table>
        </md-card>
          <BR>
              <md-card>
         <table style="table-layout: fixed;width: 100%;"  class="table">
            <tr>
              <th width="80px">Group</th>
              <th >Db Name</th>
              <th width="90px">DB Status</th>
              <th width="90px">PX Status</th>
              <th width="85px">Conns</th>
              <th width="85px">Bytes Out</th>
              <th width="85px">Bytes In</th>
              <th width="90px">Sess Time</th>
              <th width="90px" ng-if="proxy.type=='proxysql'">Id Group</th>
            </tr>

            <tr ng-repeat="server in proxy.backendsRead" ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }">
               <td>Read</td>
               <td  style="white-space: -o-pre-wrap;word-wrap:break-word;white-space: pre-wrap;dwhite-space: -moz-pre-wrap;white-space: -pre-wrap;">{{server.prxName}}</td>
               <td ng-switch="server.status">
                  <span ng-switch-when="Master" class="label label-primary">Master<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Failed" class="label label-danger">Failed<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="Suspect" class="label label-warning">Suspect<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-when="StandAlone" class="label label-info">Standalone<label
                     ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                  <span ng-switch-default class="label label-default">{{server.status}}<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
               </td>
               <td>{{server.prxStatus}}</td>
               <td>{{server.prxConnections}}</td>
               <td>{{server.prxByteOut}}</td>
               <td>{{server.prxByteIn}}</td>
               <td>{{server.prxLatency}}</td>
               <td ng-if="proxy.type=='proxysql'">{{server.prxHostgroup}}</td>
            </tr>
         </table>
       </md-card>
      </div>
      </div>

   <BR>
 </diV>
 <div ng-include src="'static/card-proxy-configurator.html'"></div>
</md-content>
