 <div layout="row" flex>
<md-content  class="md-padding">




  <div  ng-repeat="server in servers">

          <div ng-if="server.id==selectedServer" ng-include src="'static/toolbar-server.html'"></div>
           <md-card ng-if="server.id==selectedServer">



             <md-card-content>
                 <p  ng-switch="server.state" class="sectionheader">
                   <span ng-switch-when="Master" class="label label-primary">Master   {{server.host}}:{{server.port}}<label
                           ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                       <span ng-switch-when="Suspect" class="label label-warning">Suspect   {{server.host}}:{{server.port}}<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                       <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error   {{server.host}}:{{server.port}}<label
                               ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                       <span ng-switch-when="StandAlone" class="label label-info">Standalone   {{server.host}}:{{server.port}}<label
                               ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                       <span ng-switch-default class="label label-default">{{server.state}}  {{server.host}}:{{server.port}}
                           <label ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                </p>
              </md-card-content>
              <style>
                table{
                  table-layout: fixed;
                  width: 100%;


                }
                td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
      </style>
                   <table  border=1 >
                      <col width="5%">
                     <col span="4">
                     <col width="5%">
                      <col>
                     <col width="50%">

                      <tr>
                         <th >Id</th>
                         <th >User</th>
                         <th>Host</th>
                         <th >Db</th>
                         <th >Command</th>
                         <th>Time</th>
                         <th >State</th>
                         <th>Info</th>

                      </tr>

                      <tr ng-repeat="query in processlist">
                         <td class="process">{{ query.id }}</td>
                         <td class="process">{{ query.user }}    </td>
                         <td class="process">{{ query.host }} </td>
                         <td class="process">{{ query.db.String }}</td>
                         <td class="process">{{ query.command }}</td>
                         <td class="process">{{ query.time.Float64 }}</td>
                         <td class="process">{{ query.state }}</td>
                         <td class="process">{{ query.info.String}}</td>

                      </tr>
                   <table>

             </md-card>

           </div>
             <BR><BR>


</md-content>
</div>
