<md-content class="md-padding">
    <div layout="column" layout-gt-xs="row">
        <div flex-gt-xs="30" class="col-lg-33">
            <md-card>

                <table ng-if="settings" class="table">

                    <tr>
                        <th>Failover Mode (interactive)</th>
                    </tr>
                    <tr>
                        <td>

                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.interactive"
                                       ng-click="switchsettings('failover-mode')" aria-label="Mode Change">
                                <span ng-if="selectedCluster.config.interactive"
                                      class="label label-primary">On-call (manual)</span><span
                                    ng-if="!selectedCluster.config.interactive"
                                    class="label label-warning">On-leave (auto)</span>

                        </md-switch>
                        </td>
                    </tr>

                </table>
            </md-card>
            <BR>
            <md-card>
                <table ng-if="settings" class="table">
                    <tr>
                        <th>Test Mode</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.test"
                                       ng-click="switchsettings('test')" aria-label="Test Mode Change">
                                <span ng-if="selectedCluster.config.test" class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.test" class="label label-warning">Off</span>

                        </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Verbose</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.verbose"
                                       ng-click="switchsettings('verbose')" aria-label="Verbosity Change">
                                <span ng-if="selectedCluster.config.verbose" class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.verbose" class="label label-warning">Off</span>

                        </md-switch>
                        </td>
                    </tr>
                </table>
    </md-card>
    <BR>
    <md-card ng-if="settings.config.enterprise">
        <table ng-if="settings" class="table">
            <tr>
                <th>Provisioning CNI</th>
            </tr>
            <tr>
                <td>
                    <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.provNetCni"
                               ng-click="switchsettings('prov-net-cni')" aria-label="CNI">
                        <span ng-if="selectedCluster.config.provNetCni" class="label label-primary">On</span><span
                            ng-if="!selectedCluster.config.provNetCni" class="label label-warning">Off</span>
                </md-switch>
                </td>
            </tr>
            <tr>
                <th>Provisioning Private Docker Daemon</th>
            </tr>
            <tr>
                <td>
                    <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.provDockerDaemonPrivate"
                               ng-click="switchsettings('prov-docker-daemon-private')" aria-label="CNI">
                        <span ng-if="selectedCluster.config.provDockerDaemonPrivate" class="label label-primary">On</span><span
                            ng-if="!selectedCluster.config.provDockerDaemonPrivate" class="label label-warning">Off</span>
                </md-switch>
                </td>
            </tr>

        </table>
</md-card>
        </div>

        <div flex-gt-xs="30" class="col-lg-33">
            <md-card>
                <table ng-if="settings" class="table">
                    <tr>
                        <th>Checks All Replication Constraint</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.checkReplicationState"
                                       ng-click="switchsettings('check-replication-state')"
                                       aria-label="Failover in Sync">
                                <span ng-if="selectedCluster.config.checkReplicationState"
                                      ng-click="switchsettings('check-replication-state')" class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.checkReplicationState" ng-click="rplchecks()"
                                    class="label label-warning">Off</span>
                            </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Failover Only On Semi-sync State Sync</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.failoverAtSync"
                                       ng-click="switchsettings('failover-at-sync')" aria-label="Failover in Sync">
                                <span ng-if="selectedCluster.config.failoverAtSync" ng-click="switchsettings('failover-at-sync')"
                                      class="label label-primary">On</span>
                                <span ng-if="!selectedCluster.config.failoverAtSync"
                                                                                 ng-click="failsync()"
                                                                                 class="label label-warning">Off</span>
                            </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Failover Using Pseudo GTID</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false"
                                       ng-model="selectedCluster.config.autorejoinSlavePositionalHeartbeat"
                                       ng-click="switchsettings('autorejoin-slave-positional-heartbeat')"
                                       aria-label="Auto rejoin using pseudo GTID">
                                <span ng-if="selectedCluster.config.autorejoinSlavePositionalHeartbeat"
                                      class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.autorejoinSlavePositionalHeartbeat" class="label label-warning">Off</span>
                      
                        </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Switchover Only On Semi-sync State Sync</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.switchoverAtSync"
                                       ng-click="switchsettings('switchover-at-sync')()"
                                       aria-label="Switchover in Sync">
                                <span ng-if="selectedCluster.config.switchoverAtSync"
                                      ng-click="switchsettings('switchover-at-sync')"
                                      class="label label-primary">On</span><span ng-if="!selectedCluster.config.switchoverAtSync"
                                                                                 ng-click="switchsync()"
                                                                                 class="label label-warning">Off</span>
                            </md-switch>
                        </td>
                    </tr>
                    <tr>
                        <th>Replication Max Delay</th>
                    </tr>
                    <tr>
                        <td>
                            <md-slider ng-value="selectedCluster.config.failoverMaxSlaveDelay" md-discrete ng-if="selectedCluster.config.checkReplicationState" flex
                                       ng-model="selectedCluster.config.failoverMaxSlaveDelay" step="1" min="10" max="100" aria-label="delay">
                            </md-slider>

                            <span class="label label-primary">{{selectedCluster.config.failoverMaxSlaveDelay}}</span>

                        </td>
                    </tr>
                </table>
            </md-card>
        </div>


        <div flex-gt-xs="30" class="col-lg-33">
            <md-card>
                <table ng-if="settings" class="table">
                    <tr>
                        <th>Failback</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.autorejoin"
                                       ng-click="switchsettings('autorejoin')" aria-label="Auto Rejoin">
                                <span ng-if="selectedCluster.config.autorejoin" class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.autorejoin" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Failback Backup Extra Events</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false"
                                       ng-model="selectedCluster.config.autorejoinBackupBinlog"
                                       ng-click="switchsettings('autorejoin-backup-binlog')" aria-label="Auto Rejoin">
                                <span ng-if="selectedCluster.config.autorejoinBackupBinlog"
                                      class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.autorejoinBackupBinlog" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Failback Fashback when Semi-sync status Sync</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false"
                                       ng-model="selectedCluster.config.autorejoinFlashbackOnSync"
                                       ng-click="switchsettings('autorejoin-flashback-on-sync')"
                                       aria-label="Failback with binlog flashback only if semisync ">
                                <span ng-if="selectedCluster.config.autorejoinFlashbackOnSync" class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.autorejoinFlashbackOnSync" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Failback Binlog Flashback</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false"
                                       ng-model="selectedCluster.config.autorejoinFlashback"
                                       ng-click="switchsettings('autorejoin-flashback')"
                                       aria-label="Failback with binlog flashback">
                                <span ng-if="selectedCluster.config.autorejoinFlashback"
                                      class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.autorejoinFlashback" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                    <tr>
                        <th>Failback Master Dump</th>
                    </tr>
                    <tr>
                        <td>
                            <md-switch ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.autorejoinMysqldump"
                                       ng-click="switchsettings('autorejoin-mysqldump')"
                                       aria-label="Auto rejoin with logical dump">
                                <span ng-if="selectedCluster.config.autorejoinMysqldump" class="label label-primary">On</span><span
                                    ng-if="!selectedCluster.config.autorejoinMysqldump" class="label label-warning">Off</span>
                        </td>
                        </md-switch>
                        </td>
                    </tr>

                </table>
            </md-card>
        </div>
    </div>


</md-content>
