<md-content class="md-padding">
    <md-card>
        <md-card-content>
            <p class="sectionheader">ERRORS</p>
            <BR>
            <div ng-repeat="element in alerts.errors" class="alert alert-danger"><i
                    class="fa fa-exclamation-triangle"></i> {{ element.desc }}</div>
        </md-card-content>
    </md-card>
    <BR>
    <md-card>
        <md-card-content>
            <p class="sectionheader">WARNINGS</p>
            <BR>
            <div ng-repeat="element in alerts.warnings" class="alert alert-warning"><i
                    class="fa fa-exclamation-triangle"></i> {{ element.desc }}</div>
        </md-card-content>
    </md-card>
</md-content>
