
<md-content class="md-padding">
<md-card>
   <md-card-content>
      <p class="sectionheader">Query Rules</p>
   </md-card-content>
   <table ng-if="queryrules" class="table">
      <tr>
         <th>Id</th>
         <th>Digest</th>
        <th>Match User</th>
          <th>Match Schema</th>
         <th>Match Digest</th>
         <th>Match Pattern</th>
          <th>Host Group</th>
          <th>Proxies</th>

      </tr>
      <tr ng-repeat="rule in queryrules" ng-class="">
         <td>{{rule.ruleId}}</td>
         <td>{{rule.digest.String}}</td>
         <td>{{rule.userName.String}}</td>
         <td>{{rule.schemaName.String}}</td>
         <td>{{rule.matchDigest.String}}</td>
         <td>{{rule.matchPattern.String}}</td>
         <td>{{rule.destinationHostgroup.Int64}}</td>
        <td>{{rule.proxies}}</td>
      </tr>
   </table>
</md-card>
</md-content>
