<md-toolbar class="transparent" style="background-color:transparent">
<div class="md-toolbar-tools" >
    <h2>
                <span>
<table border=0 >
  <tr>
    <td width="5%">
        <div  class="md-toolbar-tools" ng-include src="'static/menu-server.html'"></div>
    </td>
    <td width="40%">
      <md-button ng-if="selectedTab=='LogSlow'" class="md-raised" aria-label="Tabular" ng-click="dbtoogleslowquery(server.id)">
        <md-icon ng-if="server.slowQueryLog=='ON' "class="fa fa-stop"></md-icon><md-icon ng-if="server.slowQueryLog=='OFF'" class="fa fa-play"></md-icon>
      </md-button>
      <md-button ng-if="selectedTab=='PFSQueries'" class="md-raised" aria-label="Tabular" ng-click="dbtooglepfsslowquery(server.id)">
        <md-icon ng-if="server.havePFSSlowQueryLog" class="fa fa-stop"></md-icon><md-icon ng-if="!server.havePFSSlowQueryLog" class="fa fa-play"></md-icon>
      </md-button>
      <md-button ng-if="selectedTab=='MetaDataLocks'" class="md-raised" aria-label="Tabular" ng-click="dbtooglemetadalocks(server.id)">
        <md-icon ng-if="server.haveMetaDataLocksLog" class="fa fa-stop"></md-icon><md-icon ng-if="!server.haveMetaDataLocksLog" class="fa fa-play"></md-icon>
      </md-button>
      <md-button ng-if="selectedTab=='QueryResponseTime'" class="md-raised" aria-label="Tabular" ng-click="dbtooglequeryresponsetime(server.id)">
        <md-icon ng-if="server.haveQueryResponseTimeLog" class="fa fa-stop"></md-icon><md-icon ng-if="!server.haveQueryResponseTimeLog" class="fa fa-play"></md-icon>
      </md-button>
      <md-button ng-if="selectedTab=='PFSQueries'" class="md-raised" aria-label="Tabular" ng-click="dbtooglepfsslow(server.id)" >
        <div ng-if="digestmode=='pfs'"><md-icon ng-if="digestmode=='pfs'"class="fa fa-object-group"></md-icon> PFS</div><div ng-if="digestmode=='slow'"><md-icon ng-if="digestmode=='slow'" class="fa fa-object-group" ></md-icon> SLOW</div>
      </md-button>
      <md-button ng-if="selectedTab=='PFSQueries' && digestmode=='pfs' " class="md-raised" aria-label="Tabular" ng-click="dbresetpfsslow(server.id)" >
        <div ng-if="digestmode=='pfs'"><md-icon ng-if="digestmode=='pfs'"class="fa fa-recycle"></md-icon></div>
      </md-button>
    </td>
    <td width="30%">
      <md-button  ng-if="selectedTab=='LogSlow'" class="md-raised" aria-label="Tabular" ng-click="dbtoogleslowquerytable(selectedServer)"  >
        <h1 ng-if="server.logOutput=='TABLE'"><md-icon md-menu-origin class="fa fa-table"></md-icon> TABLE</h1><h1 ng-if="server.logOutput=='FILE'"><md-icon md-menu-origin class="fa fa-file"></md-icon> FILE</h1>
      </md-button>
    </td>

    <td  width="40%">
<!--
      <form novalidate class="simple-form" ng-if="selectedTab=='LogSlow'">
        <input type="text" onchange="updateLongQueryTime(longQueryTime,server.id)" ng-blur="toogleRefresh()" ng-focus="toogleRefresh()"  ng-model="longQueryTime" ng-init="longQueryTime=server.longQueryTime"></input>

        <md-button class="md-raised"  ng-click="updateLongQueryTime(longQueryTime,server.id)"  >
            <md-icon class="fa fa-save"/>
          </md-button>
        -->
        <div  ng-if="selectedTab=='LogSlow' || selectedTab=='PFSQueries' " >

          <md-button ng-if="!isEqualLongQueryTime(server.longQueryTime,'10')" style="min-width: 1%;" class="md-raised"  ng-click="updateLongQueryTime(10,server.id)"  >
              10<sup>1</sup>
          </md-button>
          <md-button ng-if="isEqualLongQueryTime(server.longQueryTime,'10')" style="min-width: 1%;" class="md-warn md-raised"  ng-click="updateLongQueryTime(10,server.id)"  >
              10<sup>1</sup>
          </md-button>

          <md-button ng-if="!isEqualLongQueryTime(server.longQueryTime,'1')" style="min-width: 1%;" class="md-raised"  ng-click="updateLongQueryTime(1,server.id)"  >
              10<sup>-1</sup>
            </md-button>
            <md-button ng-if="isEqualLongQueryTime(server.longQueryTime,'1')" style="min-width: 1%;" class="md-warn md-raised"  ng-click="updateLongQueryTime(1,server.id)"  >
                10<sup>-1</sup>
              </md-button>

            <md-button ng-if="!isEqualLongQueryTime(server.longQueryTime,'0.1')" style="min-width: 1%;" class="md-raised"  ng-click="updateLongQueryTime(0.1,server.id)"  >
                10<sup>-2</sup>
            </md-button>
            <md-button ng-if="isEqualLongQueryTime(server.longQueryTime,'0.1')" style="min-width: 1%;" class="md-warn md-raised"  ng-click="updateLongQueryTime(0.1,server.id)"  >
                10<sup>-2</sup>
            </md-button>

            <md-button ng-if="!isEqualLongQueryTime(server.longQueryTime,'0.01')" style="min-width: 1%;" class="md-raised"  ng-click="updateLongQueryTime(0.01,server.id)"  >
                10<sup>-3</sup>
            </md-button>
            <md-button ng-if="isEqualLongQueryTime(server.longQueryTime,'0.01')" style="min-width: 1%;" class="md-warn md-raised"  ng-click="updateLongQueryTime(0.01,server.id)"  >
                10<sup>-3</sup>
            </md-button>

            <md-button ng-if="!isEqualLongQueryTime(server.longQueryTime,'0.001')" style="min-width: 1%;" class="md-raised"  ng-click="updateLongQueryTime(0.001,server.id)"  >
                10<sup>-4</sup>
            </md-button>

            <md-button ng-if="isEqualLongQueryTime(server.longQueryTime,'0.001')" style="min-width: 1%;" class="md-warn md-raised"  ng-click="updateLongQueryTime(0.001,server.id)"  >
                10<sup>-4</sup>
            </md-button>

            <md-button  ng-if="!isEqualLongQueryTime(server.longQueryTime,'0.00001')" style="min-width: 1%;" class="md-raised"  ng-click="updateLongQueryTime(0.00001,server.id)"  >
                10<sup>-5</sup>
            </md-button>
            <md-button  ng-if="isEqualLongQueryTime(server.longQueryTime,'0.00001')" style="min-width: 1%;" class="md-warn md-raised"  ng-click="updateLongQueryTime(0.00001,server.id)"  >
                10<sup>-5</sup>
            </md-button>


    <!--  </form> -->
    </td>
    <td width="10%"></td>
  </tr>
</table>
</span>
</h2>
</div>
</md-toolbar>
