<md-toolbar class="transparent" style="background-color:transparent">
<div class="md-toolbar-tools" >
    <h2>
                <span>
                  <table border=0><tr><td width="5%">
                  <div  ng-include src="'static/menu-cluster.html'" class="md-toolbar-tools"></div>
                  </td><td>
                  <md-button class="md-raised" ng-if="master.state !='Failed'" ng-click="switch(false)"
                             aria-label="Switchover"><i class="fa fa-toggle-on" aria-hidden="true"></i>
                  Switchover</md-button>
                    </td><td>
                  <md-button class="md-raised md-warn" ng-if="master.state =='Failed'" ng-click="switch(true)"
                             aria-label="Failover"><i class="fa fa-toggle-on" aria-hidden="true"></i>
                  Failover</md-button>
                  <md-button class="md-raised" aria-label="Tabular" ng-click="toogleTabular()">
                   <md-icon md-menu-origin class="fa fa-table"></md-icon>
                  </md-button>
                  </td></tr></table>
              </span>
    </h2>
</div>
</md-toolbar>
