
 <div layout="row" flex>
<md-content  class="md-padding">

  <div  ng-repeat="server in servers">


           <md-card ng-if="server.id==selectedServer">
             <md-card-content>
                 <p  ng-switch="server.state" class="sectionheader">
                   <span ng-switch-when="Master" class="label label-primary">Master   {{server.host}}:{{server.port}}<label
                           ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                       <span ng-switch-when="Suspect" class="label label-warning">Suspect   {{server.host}}:{{server.port}}<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                       <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error   {{server.host}}:{{server.port}}<label
                               ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                       <span ng-switch-when="StandAlone" class="label label-info">Standalone   {{server.host}}:{{server.port}}<label
                               ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                       <span ng-switch-default class="label label-default">{{server.state}}  {{server.host}}:{{server.port}}
                           <label ng-if="server.isVirtualMaster==true">-VMaster   {{server.host}}:{{server.port}}</label></span>
                </p>
              </md-card-content>
              <style>
                table{
                  table-layout: fixed;
                  width: 100%;


                }
                td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
      </style>
                   <table  border=1 >
                      <col  width="30%"/>
                      <col  width="60%"/>

                      <tr>
                         <th >Status</th>
                         <th >Value</th>

                      </tr>

                      <tr ng-repeat=" v in variables">
                         <td class="process">{{ v.variableName }}</td>
                         <td class="process">{{ v.value }}    </td>
                      </tr>
                   <table>

             </md-card>

           </div>
             <BR><BR>


</md-content>
</div>
