.cardWrapper {
  margin-top: rem(16);

  .table {
    margin-top: 0;
    .rowLabel,
    .rowValue {
      padding-top: rem(8) !important;
      padding-bottom: rem(8) !important;
    }
    .rowLabel {
      background-color: var(--quaternary-color);
    }
  }
}

.card {
  width: rem(400);
  .heading {
    padding: rem(4) 0;
  }
}
