

/* ==========================================================================
   Giraffe custom styles
   ========================================================================== */



#giraffe-navbar-inner {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(top, #ffffff, #ffffff); */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'ffffff, GradientType=0);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
       -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);

/*
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffb100, #d65100);
  background-image: -ms-linear-gradient(top, #ffb100, #d65100);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb100), to(#d65100));
  background-image: -webkit-linear-gradient(top, #ffb100, #d65100);
  background-image: -o-linear-gradient(top, #ffb100, #d65100);
  background-image: linear-gradient(top, #ffb100, #d65100);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffb100, endColorstr='#'d65100, GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          */
}

.navbar .brand {
   color: #ffffff;

  text-shadow: none;
}

.navbar .brand:hover {
  text-decoration: none;
  color: white;
}

.navbar .nav > li > a {
  /* color: #d65100; */
  color: black;
  text-shadow: none;
  text-decoration: none;
  font-size: 1.2rem;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-inverse .navbar-inner {
    border-color: white;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    color: black;
    background-color: white;
}

.btn-small, .btn-small.active {
    color: grey;
}

.page-header h1 {
    color:grey;
}
p{
	margin-top: 12px;
}
h2 {
    font-size: 14px;
}

h2, h3 {
    color: black;
}

.page-header {
    margin: 0px 0 30px;
    padding-top: 15px;
}

.dashboard-content {
    padding-right: 20px;
    padding-left: 20px;
}

.dashboard-content,
#graphs {
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    border-radius: 0 0 8px 8px;
}
.legend {
    margin-top: 17px;
    display: none;
    background-color: white;
    padding-top: 15px;
    color:black;
  }

.nav-collapse .btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* .rickshaw_graph .detail .x_label { */
/*     display: none; */
/* } */
/* .rickshaw_graph .detail .item.active { */
/*     opacity:1; */
/*     display: none; */
/* } */

.log .label {
  min-width: 60px;
  display: inline-block;
}

.log td.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

.log td.stamp {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

.log td {
  vertical-align :top;
  padding-right: 10px;
}

body {
  background: #f5f5f5;
}

th {
  background-color: #e0e0e0;
  padding: 10px;
}

.slowlog td {
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  padding: 10px;
}
.slowlog td.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}
table.slowlog  {
  width: 100%;
}
.slowlog td.stamp {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  width: 250px;
}

.table {
 font-size: 1.2rem;
}

.servers td {
  /* white-space: nowrap; */
}

th.rowicon {
  min-width: 32px;
  max-width: 48px;
}

td.longname {
    /* max-width: 0; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

th.servers {
  white-space: nowrap;
  width: 15%
}

th.gtid {
  white-space: nowrap;
  width: 10%;
}

td.cellicon {
  width: 16px;
  padding: 0;
  margin: 0;
}

table.fixed {
  table-layout: fixed;
}

img.vicon {
  width: 16px;
}
