## config.toml
## Example replication-manager configuration file

## change the service file  in /etc/systemd/system/replication-manager.service to looks like :
## replication-manager-osc  --config=./etc/config.toml.sample  --cluster=Cluster01,Cluster_Test_2_Nodes monitor

[Cluster_Haproxy_MasterSlave]
title = "ClusterTestMasterSlave"

hosts = "127.0.0.1:3310,127.0.0.1:3311"
user = "root:test"
rpluser = "root:test"
title = "MyTitle - env"
connect-timeout = 8
prefmaster = "127.0.0.1:3310"

daemon = 1
logfile = "/var/lib/replication-manager/replication-manager.log"


haproxy = true
haproxy-write-port = 3303
haproxy-read-port = 3302

[Default]
prov-orchestrator = "local"
db-servers-binary-path= "/usr/local/mysql/bin/"
verbose = true
http-server = true
http-bind-address = "0.0.0.0"
