.topContainer {
  width: 100%;
  gap: rem(24) !important;
  .accordion {
    width: 100%;
  }
  .accordionHeader {
    &.red {
      background-color: var(--danger-secondary-color);
    }
    &.orange {
      background-color: var(--warning-secondary-color);
    }
  }
  .accordionBody {
    &.red {
      border-color: var(--danger-secondary-color);
    }
    &.orange {
      border-color: var(--warning-secondary-color);
    }
  }

  .morelink {
    font-weight: normal;
    font-size: rem(14);
    text-decoration: underline;
  }

  .graph {
    width: 100%;
    @include breakpoint('md', 'lg') {
      width: rem(280);
    }
    @include breakpoint('lg') {
      width: rem(250);
    }
  }
  .dropdownRows {
    margin-left: auto;
    width: 100%;
  }
}
