[mysqld]

#skip-innodb
default-storage-engine=MyISAM
skip_name_resolve

back_log=128
max_connections = 1024
table_open_cache = 2048
table_definition_cache = 2048
max_allowed_packet = 16M
max_heap_table_size = 64M
thread_cache_size = 128
query_cache_size = 0
query_cache_limit = 2M
ft_min_word_len = 4
thread_stack = 192K
tmp_table_size = 512K
sort_buffer_size =  512K
join_buffer_size =  2M
key_buffer_size = 32M
general_log = 1
loose_spider_general_log = 1
loose_spider_internal_sql_log_off = 0
