.variableInputArea {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.inputWrapper {
  position: relative;
}

.inputField {
  width: 100%;
  font-family: inherit;
  font-size: 0.95rem;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
}

.buttonGroup {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: flex;
  gap: 0.25rem;
  z-index: 1;
}

.btnEdit {
  background-color: var(--secondary-color);
  color: white;

  &:hover {
    background-color: var(--primary-color);
  }
}
