.container {
  font-size: rem(15);
  gap: 0;
  padding: 0;
  margin-top: rem(4);
  width: 100%;
  .row {
    height: 100%;
  }
  .label,
  .value {
    padding: rem(4);
    height: 100%;
    display: flex;
    align-items: center;
  }
  .label {
    text-align: start;
    font-weight: 600;
    background-color: var(--tertiary-color);
    height: 100%;
    padding-left: rem(16);
  }
  .subLabel {
    padding-left: rem(32);
    background-color: var(--quaternary-color);
  }
  .value {
    text-align: start;
    border-radius: rem(6);
    min-height: rem(24);
    background-color: transparent;
    padding-left: rem(16);
  }
  .dividerRow {
    display: none;
    @include breakpoint('md') {
      display: block;
    }
  }

  .divider {
    height: rem(1);
    background-color: var(--darkgray-color);
  }
}
