<!DOCTYPE html>
<html>

<head>
	<script src="/static/angular.min.js"></script>
	<script src="/static/angular-resource.min.js"></script>
	<script src="dashboard.js"></script>
	<link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" >
	<style>
td {
    white-space: nowrap;
}
.sectionheader {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 0;
  border: none;
  background-color: transparent;
  letter-spacing: 0.02em;
	text-transform: uppercase;
}
</style>
</head>

<body ng-app="dashboard" ng-cloak>
<!-- <img width="200" src="static/logo.png"/> -->

<div ng-controller="DashboardController" class="col-lg-12">
<header>
	<h2>Replication Manager Dashboard</h2>
</header>
		<div ng-if="reserror" class="alert alert-danger" role="alert">Cannot connect to the http server backend. Status will not update.</div>
		<p class="sectionheader">Arbitrator Status</p>
		<table ng-if="settings" class="table">
			<tr>
				<th>Manager Status</th>
				<th>Failover Mode</th>
				<th>Failover At Status Sync</th>
				<th>Replication Status Checks</th>
				<th>Replication Max Delay</th>
				<th>Failover Count</th>
				<th>Last Failover Time</th>
			</tr>
			<tr>
				<td><span ng-if="settings.runstatus=='A'" class="label label-primary">ACTIVE</span><span ng-if="settings.runstatus=='P'" class="label label-warning">PASSIVE</span></td>
				<td><span ng-if="settings.interactive=='true'" class="label label-primary">On-call (manual)</span><span ng-if="settings.interactive=='false'" class="label label-warning">On-leave (auto)</span></td>
				<td><span ng-if="settings.failsync=='true'" class="label label-primary">On</span><span ng-if="settings.failsync=='false'" class="label label-warning">Off</span></td>
				<td><span ng-if="settings.rplchecks=='true'" class="label label-primary">On</span><span ng-if="settings.rplchecks=='false'" class="label label-warning">Off</span></td>
				<td>{{settings.maxdelay}} </td>
				<td>{{settings.failoverctr}} / {{settings.faillimit}}</td>
				<td>{{settings.lastfailover}}</td>
			</tr>
		</table>
		<div class="col-lg-3">
			<p class="sectionheader">MONITOR GROUP</p>
<table class="table">
	<tr><th>Group Name</th></tr>
	<tr><td>{{settings.confgroup}}</tr></td>
</table>
</div>
	  <div class="col-lg-9">
		<p class="sectionheader">SLA</p>
		<table ng-if="settings" class="table">
			<tr>
				<th>Master Available</th>
				<th>Can Failover Acceptable Data Loss</th>
				<th>Can Failover No Data Loss</th>
			</tr><tr>
				<td>{{settings.uptime}}</td>
				<td>{{settings.uptimefailable}}</td>
				<td>{{settings.uptimesemisync}}</td>
			</tr>
		</table>
	</div>
		<p class="sectionheader">Server Status</p>
		<table ng-if="servers" class="table">
			<tr>
				<th>Host</th>
				<th>Port</th>
				<th>Status</th>
				<th>Using GTID</th>
				<th>Current GTID</th>
				<th>Slave GTID Pos</th>
				<th>Slave IO Thread</th>
				<th>Slave SQL Thread</th>
				<th>Delay</th>
				<th>Read Only</th>
				<th>Master Sync</th>
				<th>Slave Sync</th>
			</tr>
			<tr ng-repeat="server in servers" ng-class="{'active':server.State=='Master','danger': (server.IOThread=='No' && server.State=='Slave')}">
				<td>{{server.Host}}</td>
				<td>{{server.Port}}</td>
				<td>{{server.State}}</td>
				<td>{{server.UsingGtid}}</td>
				<td>{{gtidstring(server.CurrentGtid)}}</td>
				<td>{{gtidstring(server.SlaveGtid)}}</td>
				<td>{{server.IOThread}}</td>
				<td>{{server.SQLThread}}</td>
				<td>{{server.Delay.Int64}}</td>
				<td>{{server.ReadOnly}}</td>
				<td>{{server.SemiSyncMasterStatus}}</td>
				<td>{{server.SemiSyncSlaveStatus}}</td>
			</tr>
		</table>
		<button ng-if="master.State !='Failed'" type="button" class="btn btn-primary" ng-click="switch(false)">Switchover</button>
		<button ng-if="master.State =='Failed'" type="button" class="btn btn-danger" ng-click="switch(true)">Failover</button>
		<button type="button" class="btn btn-primary" ng-click="inttoggle()">Mode Change</button>
		<button ng-if="settings.heartbeat=='true'"  type="button" class="btn btn-primary" ng-click="setactive()">Force Active Status</button>
		<button type="button" class="btn btn-primary" ng-click="resetfail()">Reset Failover Counter</button>
		<button type="button" class="btn btn-primary" ng-click="failsync()">Failover Sync</button>
		<button type="button" class="btn btn-primary" ng-click="rplchecks()">Replication Checks Change</button>
		<button type="button" class="btn btn-primary" ng-click="bootstrap()">Bootstrap</button>
    <button ng-if="settings.test=='true'" type="button" class="btn btn-primary" ng-click="test()">Run Tests</button>
	<pre>
<span ng-repeat="logline in log track by $index">{{ logline }}
</span>
	</pre>
	</div>
</body>

</html>
