<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular-resource.min.js"></script>
	<script src="dashboard.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style>
td {
    white-space: nowrap;
}
.sectionheader {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 0;
  border: none;
  background-color: transparent;
  letter-spacing: 0.02em;
	text-transform: uppercase;
}
</style>
</head>

<body ng-app="dashboard" ng-cloak>
  <div ng-controller="DashboardController" class="col-lg-12">
		<h2>Replication Manager Dashboard</h2>
		<p class="sectionheader">Arbitrator Status</p>
		<table ng-if="settings" class="table">
			<tr>
				<th>Current Mode</th>
				<th>Failover Count</th>
				<th>Last Failover Time</th>
				<th>SLA Uptime</th>
				<th>SLA Can Switch</th>
				<th>SLA In Sync</th>
			</tr>
			<tr>
				<td><span ng-if="settings.interactive=='true'" class="label label-primary">on-call</span><span ng-if="settings.interactive=='false'" class="label label-warning">on-leave</span></td>
				<td>{{settings.failoverctr}} / {{settings.faillimit}}</td>
				<td>{{settings.lastfailover}}</td>
				<td>{{settings.uptime}}</td>
				<td>{{settings.uptimefailable}}</td>
				<td>{{settings.uptimesemisync}}</td>
			</tr>
		</table>
		<p class="sectionheader">Server Status</p>
		<table ng-if="servers" class="table">
			<tr>
				<th>Host</th>
				<th>Port</th>
				<th>Status</th>
				<th>Using GTID</th>
				<th>Current GTID</th>
				<th>Slave GTID Pos</th>
				<th>Slave IO Thread</th>
				<th>Slave SQL Thread</th>
				<th>Delay</th>
				<th>Read Only</th>
			</tr>
			<tr ng-repeat="server in servers" ng-class="{'active':server.State=='Master','danger': (server.IOThread=='No' && server.State=='Slave')}">
				<td>{{server.Host}}</td>
				<td>{{server.Port}}</td>
				<td>{{server.State}}</td>
				<td>{{server.UsingGtid}}</td>
				<td>{{gtidstring(server.CurrentGtid)}}</td>
				<td>{{gtidstring(server.SlaveGtid)}}</td>
				<td>{{server.IOThread}}</td>
				<td>{{server.SQLThread}}</td>
				<td>{{server.Delay.Int64}}</td>
				<td>{{server.ReadOnly}}</td>
			</tr>
		</table>
		<p>
		<button ng-if="master.State !='Failed'" type="button" class="btn btn-primary" ng-click="switch(false)">Switchover</button>
		<button ng-if="master.State =='Failed'" type="button" class="btn btn-danger" ng-click="switch(true)">Failover</button>
		<button type="button" class="btn btn-primary" ng-click="inttoggle()">Mode Change</button>
		<button type="button" class="btn btn-primary" ng-click="resetfail()">Reset Failover Counter</button>
		<button type="button" class="btn btn-primary" ng-click="bootstrap()">Bootstrap</button>
	</p>
	<pre>
<span ng-repeat="logline in log track by $index">{{ logline }}
</span>
	</pre>
	</div>
</body>

</html>
