.textarea {
  border: rem(1) solid var(--tertiary-color);
  border-radius: $border-radius-sm;
  // outline-color: var(--primary-color);
  &:focus-visible {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
  }
}
