[Unit]
Description=replication-manager open source

[Service]
Type=simple
ExecStart=/usr/local/replication-manager/bin/replication-manager-osc-cgo monitor

[Install]
WantedBy=multi-user.target
