[Unit]
Description=MariaDB replication-manager

[Service]
Type=simple
ExecStart=/usr/bin/replication-manager monitor --daemon

[Install]
WantedBy=multi-user.target
