[Unit]
Description=MariaDB replication-manager test including provisioning of local db service

[Service]
Type=simple
ExecStart=/usr/bin/replication-manager-tst monitor

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
