[Unit]
Description=MariaDB replication-manager arm 8 distribution

[Service]
Type=simple
ExecStart=/usr/bin/replication-manager-arm monitor

[Install]
WantedBy=multi-user.target
