[Unit]
Description=replication-manager arbitrator 

[Service]
Type=simple
ExecStart=/usr/bin/replication-manager-arb arbitrator

[Install]
WantedBy=multi-user.target
