[Unit]
Description=MariaDB replication-manager pro including provisioning and testing

[Service]
Type=simple
ExecStart=/usr/bin/replication-manager-pro monitor

[Install]
WantedBy=multi-user.target
