[Unit]
Description=replication-manager open source

[Service]
Type=simple
ExecStart=/usr/bin/replication-manager-osc monitor

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
