[Unit]
Description=Signal 18 Replication Manager provisioning edition

[Service]
Type=simple
ExecStart=/usr/bin/replication-manager-pro --user=repman monitor
Restart=on-failure
RestartSec=5
StartLimitBurst=3
StartLimitInterval=10s
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
