# config.toml
# Example replication-manager configuration file

# change the service file  in /etc/systemd/system/replication-manager.service to looks like :
# replication-manager  --config=./etc/config.toml.sample  --cluster=Cluster01,Cluster_Test_2_Nodes monitor

# TOPOLOGY
# --------

[ringfs-dck-volumes]
title = "ClusterEnterpriseMasterSlave"
db-servers-hosts = "db1,db2"
db-servers-prefered-master = "db1"
db-servers-credential = "root:mariadb"
db-servers-connect-timeout = 1
replication-credential = "root:mariadb"

prov-db-agents = "ringfs-1,ringfs-2"
prov-db-service-type = "docker"
prov-db-docker-img = "mariadb:latest"
prov-db-tags = "smallredolog,semisync,innodb,noquerycache,threadpool,logslow"

prov-db-memory = "256"

prov-db-disk-size = "1"
prov-db-disk-docker-size = "2"
prov-db-disk-system-size = "2"
prov-db-disk-tmp-size = "256"
prov-db-disk-iops = "300"
prov-db-disk-type = "volume"
prov-db-volume-data = "gvol0"
prov-db-volume-system = "gvol1"
prov-db-volume-docker = "gvol1"
prov-db-volume-temp = "shm"

haproxy = true
haproxy-write-port=3303
haproxy-read-port=3302
haproxy-servers = "prx1"
prov-proxy-disk-type = "volume"
prov-proxy-disk-size = "1"
prov-proxy-volume-data = "gvol0"
prov-proxy-agents = "ringfs-1"


[Default]
prov-proxy-service-type = "docker"
prov-net-cni-cluster = "net1"
prov-net-cni = true
prov-docker-daemon-private = false

opensvc-host = "cvi.veron.eu:22457"
opensvc-p12-secret ="P@s2P@ss"
opensvc-use-collector-api = false

http-bootstrap-button = true


#opensvc-p12-certificate =  "/etc/replication-manager/sva.pem"
