.channelsContainer {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:var(--body-bg-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .channelsTreeView{
        .channelsTreeViewTitle {
            font-weight: 700;
        }

        .channelsGroup {
            .channelsType {
                font-weight: bold;
            }
            .channelsOfAGroup {
                .channel {
                    display: flex;
                    justify-content: row;
                    margin-bottom: 2px;

                    .channelName {
                        display: flex;
                        justify-content: space-around;
                    }

                    .channelUnreadMessages {
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}
