# config.toml
# Example replication-manager configuration file

#[Cluster01]
# change the service file  in /etc/systemd/system/replication-manager.service to looks like :
# replication-manager  --config=./etc/config.toml.sample  --config-group=Cluster01 monitor --daemon
  

# LOG
# ---

logfile = "/var/log/replication-manager.log"
verbose = true

# TOPOLOGY
# --------

hosts = "127.0.0.1:5054,127.0.0.1:5012"
user = "skysql:skyvodka"
rpluser = "skysql:skyvodka"
title = "Cluster01"
connect-timeout = 1
prefmaster = "127.0.0.1:5012"
#ignore-servers = "127.0.0.1:5012"

# Automatically rejoin a failed server to the current master
# Slaves will re enter with read-only

autorejoin = true
readonly = true
failover-event-scheduler = false
failover-event-status = false

# HTTP
# ----

http-server = true
http-bind-address = "0.0.0.0"
http-port = "10001"
http-root = "./dashboard"
http-auth = true
http-session-lifetime = 3600
http-bootstrap-button = false

# ALERTS
# ------

mail-from = "mrm@localhost"
mail-smtp-addr = "localhost:25"
mail-to = "mrm@mariadb.com"

# FAILOVER
# --------

post-failover-script = ""
pre-failover-script = ""

# Timeout in seconds between consecutive monitoring
# check type can be tcp or agent
monitoring-ticker = 2
check-type = "tcp"
check-replication-filters = true
check-binlog-filters = true
check-replication-state = true

# Failover after N failures detection
# Reset number of failure if server auto recover after N seconds
failcount = 5
failcount-reset-time = 300

# Cancel failover if already N failover
# Cancel failover if last failover was N seconds before
# Cancel failover in semi-sync when one slave is not in sync
# Cancel failover when replication delay is more than N seconds
failover-limit = 3
failover-time-limit = 10
failover-at-sync = false
maxdelay = 30

# SWITCHOVER
# ----------

# In switchover Wait N milliseconds before killing long running transactions
# Cancel switchover if transaction running more than N seconds
# Cancel switchover if write query running more than N seconds
# Cancel switchover if one of the slaves is not synced based on GTID equality
wait-kill = 5000
wait-trx = 10
wait-write-query = 10
gtidcheck = true

# HAPROXY WRAPPER MODE
# --------------------
haproxy = false
haproxy-binary-path = "/usr/sbin/haproxy"

# Read write traffic
# Read only load balance least connection traffic
haproxy-write-port = 3306
haproxy-read-port = 3307
