# config.toml
# Example replication-manager configuration file

# change the service file  in /etc/systemd/system/replication-manager.service to looks like :
# replication-manager  --config=./etc/config.toml.sample  --config-group=Cluster01,Cluster_Test_2_Nodes monitor --daemon

[Cluster_Test_2_Nodes]
hosts = "127.0.0.1:3310,127.0.0.1:3311"
user = "root:"
rpluser = "root:"
title = "cluster1"
prefmaster = "127.0.0.1:3310"
haproxy-write-port=3303
haproxy-read-port=3304
test = true

[Cluster_Test_3_Nodes]
hosts = "127.0.0.1:3312,127.0.0.1:3313,127.0.0.1:3314"
user = "root:test"
rpluser = "root:test"
title = "ClusterTestSemisync"
prefmaster = "127.0.0.1:3310"
haproxy-write-port=3305
haproxy-read-port=3306
test = true
ignore-servers = "127.0.0.1:3314"

[Cluster01]
hosts = "127.0.0.1:5054,127.0.0.1:5012"
user = "skysql:skyvodka"
rpluser = "skysql:skyvodka"
title = "Cluster01"
prefmaster = "127.0.0.1:5012"
interactive = true

[Default]

# LOG
# ---

working-directory = "/var/lib/replication-manager"
share-directory = "/usr/share/replication-manager"

logfile = "/var/log/replication-manager.log"
verbose = true

# TOPOLOGY
# --------


# Automatically rejoin a failed server to the current master
# Slaves will re enter with read-only
readonly = true
failover-event-scheduler = false
failover-event-status = false
connect-timeout = 1

autoinforce-slave-heartbeat= true
autoinforce-slave-gtid-mode = true
autoinforce-slave-semisync = true
autoinforce-slave-readonly = true

# HTTP
# ----

http-server = true
http-bind-address = "0.0.0.0"
http-port = "10001"
http-root = "/usr/share/replication-manager/dashboard"
http-auth = false
http-session-lifetime = 3600
http-bootstrap-button = false

# ALERTS
# ------

mail-from = "mrm@localhost"
mail-smtp-addr = "localhost:25"
mail-to = "mrm@mariadb.com"

# FAILOVER
# --------

pre-failover-script = ""
post-failover-script = ""


# Timeout in seconds between consecutive monitoring
# check type can be tcp or agent
monitoring-ticker = 2
check-type = "tcp"
check-replication-filters = true
check-binlog-filters = true
check-replication-state = true

# Failover after N failures detection
# Reset number of failure if server auto recover after N seconds
failcount = 5
failcount-reset-time = 300

# Cancel failover if already N failover
# Cancel failover if last failover was N seconds before
# Cancel failover in semi-sync when one slave is not in sync
# Cancel failover if one slave receive master heartbeat
# Cancel failover when replication delay is more than N seconds
failover-limit = 3
failover-time-limit = 10
failover-at-sync = true
failover-falsepositive-heartbeat = true
failover-max-slave-delay = 30


# SWITCHOVER
# ----------

# In switchover Wait N milliseconds before killing long running transactions
# Cancel switchover if transaction running more than N seconds
# Cancel switchover if write query running more than N seconds
# Cancel switchover if one of the slaves is not synced based on GTID equality
switchover-wait-kill = 5000
switchover-wait-trx = 10
switchover-wait-write-query = 10
switchover-at-equal-gtid = false
switchover-at-sync = true
switchover-max-slave-delay = 30

# MAXSCALE PROXY
# --------------

# for 2 nodes cluster maxscale can be driven by replication manager

maxscale = false

# when disable replication manager fully drive maxscale for 2 nodes cluster
maxscale-monitor = false

# maxinfo|maxadmin

maxscale-get-info-method = "maxinfo"
maxscale-maxinfo-port = 4002

maxscale-host = "192.168.0.201"
maxscale-port = 4003
maxscale-user = "admin"
maxscale-pass = "mariadb"
maxscale-write-port = 4007
maxscale-read-port = 4008
maxscale-read-write-port = 4006

maxscale-binlog = false
maxscale-binlog-port = 4009


# HAPROXY WRAPPER MODE
# --------------------

haproxy = false
haproxy-binary-path = "/usr/sbin/haproxy"

# Read write traffic
# Read only load balance least connection traffic
haproxy-write-port = 3306
haproxy-read-port = 3307

# STATS
# -----

graphite-metrics = true
graphite-carbon-host = "127.0.0.1"
graphite-carbon-port = 2003

graphite-embedded = true
graphite-carbon-api-port = 10002
graphite-carbon-server-port = 10003
graphite-carbon-link-port = 7002
graphite-carbon-pickle-port = 2004
graphite-carbon-pprof-port = 7007


# SYSBENCH
# --------

sysbench-binary-path = "/usr/sbin/sysbench"
sysbench-threads = 4
sysbench-time = 60


# MARIADB >= 10.2
# ---------------

mariadb-binary-path = "/usr/sbin"

# REJOIN
# --------
autorejoin = true
autorejoin-semisync = true
autorejoin-flashback = true
autorejoin-mysqldump = false


# ETCD CLUSTER
# ------------

#agent-hosts = "127.0.0.1:4001,127.0.0.1:4002,127.0.0.1:4003"

#[Agent1]
#agent-watch = "127.0.0.1:5012"

#[Agent2]
#agent-watch = "127.0.0.1:5054"

#[Agent3]
#agent-watch = ""
