# config.toml
# Example replication-manager configuration file

# change the service file  in /etc/systemd/system/replication-manager.service to looks like :
# replication-manager  --config=./etc/config.toml.sample  --cluster=Cluster01,Cluster_Test_2_Nodes monitor


[Cluster_Maxscale_MasterSlave]
title = "ClusterTestMaxscale"
hosts = "127.0.0.1:5055,127.0.0.1:5056"
prefmaster = "127.0.0.1:5055"
user = "skysql:skyvodka"
rpluser = "skysql:skyvodka"
interactive = true
maxscale = true
maxscale-monitor = false
maxscale-maxinfo-port = 3307
maxscale-get-info-method = "maxadmin"
maxscale-host = "127.0.0.1"
maxscale-port = 3307
maxscale-user = "admin"
maxscale-pass = "mariadb"
maxscale-write-port = 4007
maxscale-read-port = 4008
maxscale-read-write-port = 4006
maxscale-binlog = false
maxscale-binlog-port = 3305
test = true

[Cluster_Maxscale_BinlogServer]
title = "ClusterTestBinlogServer"
hosts = "127.0.0.1:5057,127.0.0.1:5058,127.0.0.1:3305"
prefmaster = "127.0.0.1:5057"
switchover-at-sync = false
failover-at-sync = false
user = "skysql:skyvodka"
rpluser = "skysql:skyvodka"
connect-timeout = 1
interactive = false
maxscale = true

maxscale-get-info-method = "maxadmin"
maxscale-host = "127.0.0.1"
maxscale-port = 3307
maxscale-user = "admin"
maxscale-pass = "mariadb"
maxscale-monitor = false
maxscale-maxinfo-port = 3307
maxscale-write-port = 4007
maxscale-read-port = 4008
maxscale-read-write-port = 4006
maxscale-binlog = true
maxscale-binlog-port = 3305
test = true


[Cluster_Haproxy_MultiMaster]
title = "ClusterTestMultiMaster"
hosts = "127.0.0.1:3315,127.0.0.1:3316"
user = "root:test"
rpluser = "root:test"
multimaster = true
connect-timeout = 1
prefmaster = "127.0.0.1:3315"
haproxy-write-port=3300
haproxy-read-port=3301
test = true

[Cluster_Haproxy_MultiTierSlave]
title = "ClusterTestSemisync"
hosts = "127.0.0.1:3312,127.0.0.1:3313,127.0.0.1:3314"
prefmaster = "127.0.0.1:3312"
multi-tier-slave = true
user = "root:test"
rpluser = "root:test"
connect-timeout = 1
haproxy=true
haproxy-write-port= 3305
haproxy-read-port= 3304
test = true

[Cluster_Haproxy_MasterSlave]
title = "ClusterTestMasterSlave"
hosts = "127.0.0.1:3310,127.0.0.1:3311"
prefmaster = "127.0.0.1:3310"
user = "root:test"
rpluser = "root:test"
connect-timeout = 1
haproxy=true
haproxy-write-port=3303
haproxy-read-port=3302
test = true

[Cluster_Haproxy_MasterSlaveSlave]
title = "ClusterTestMasterSlaveSlave"
prefmaster = "127.0.0.1:3310"
hosts = "127.0.0.1:3317,127.0.0.1:3318,127.0.0.1:3319"
user = "root:test"
rpluser = "root:test"
connect-timeout = 1
haproxy=true
haproxy-write-port=3307
haproxy-read-port=3306
test = true

[Default]

# LOG
# ---

working-directory = "/var/lib/replication-manager"
share-directory = "/usr/share/replication-manager"

logfile = "/var/log/replication-manager.log"
verbose = true


# TOPOLOGY
# --------

multimaster = false
multi-tier-slave = false
maxscale-binlog = false

# Automatically rejoin a failed server to the current master
# Slaves will re enter with read-only
readonly = true
failover-event-scheduler = false
failover-event-status = false
connect-timeout = 1


# Enforce best practice
# ---------------------
force-slave-heartbeat= false
force-slave-heartbeat-retry = 5
force-slave-heartbeat-time = 3
force-slave-gtid-mode = false
force-slave-semisync = false
force-slave-readonly = false
force-binlog-row = false
force-binlog-annotate = false
force-binlog-slowqueries = false
force-binlog-compress = false
force-binlog-checksum = false
force-inmemory-binlog-cache-size = false
force-disk-relaylog-size-limit = false
force-disk-relaylog-size-limit-size = 1000000000
force-sync-binlog = false
force-sync-innodb = false


# HTTP
# ----

http-server = true
http-bind-address = "0.0.0.0"
http-port = "10001"
http-root = "/usr/share/replication-manager/dashboard"
http-auth = false
http-session-lifetime =   3600
http-bootstrap-button = false
api-user = "admin:mariadb"
api-port = "3000"

# ALERTS
# ------

mail-from = "mrm@localhost"
mail-smtp-addr = "localhost:25"
mail-to = "mrm@mariadb.com"

# FAILOVER
# --------

pre-failover-script = ""
post-failover-script = ""
rejoin-script = ""

# Timeout in seconds between consecutive monitoring
# check type can be tcp or agent
monitoring-ticker = 2
check-type = "tcp"
check-replication-filters = true
check-binlog-filters = true
check-replication-state = true

# Failover after N failures detection
# Reset number of failure if server auto recover after N seconds
failcount = 5
failcount-reset-time = 300

# Cancel failover if already N failover
# Cancel failover if last failover was N seconds before
# Cancel failover in semi-sync when one slave is not in sync
# Cancel failover if one slave receive master heartbeat
# Cancel failover when replication delay is more than N seconds
failover-limit = 0
failover-time-limit = 0
failover-at-sync = false
failover-max-slave-delay = 30
failover-restart-unsafe = false

failover-falsepositive-heartbeat = true
failover-falsepositive-heartbeat-timeout = 3
failover-falsepositive-maxscale = false
failover-falsepositive-maxscale-timeout = 14
failover-falsepositive-external = false
failover-falsepositive-external-port = 80

# Enterpise SAS identity
arbitration-external = false
arbitration-external-secret = "13787932529099014144"
arbitration-external-hosts = "88.191.151.84:80"
arbitration-peer-hosts ="127.0.0.1:10002"
# Unique value on each replication-manager
arbitration-external-unique-id = 0

# SWITCHOVER
# ----------

# In switchover Wait N milliseconds before killing long running transactions
# Cancel switchover if transaction running more than N seconds
# Cancel switchover if write query running more than N seconds
# Cancel switchover if one of the slaves is not synced based on GTID equality
switchover-wait-kill = 5000
switchover-wait-trx = 10
switchover-wait-write-query = 10
switchover-at-equal-gtid = false
switchover-at-sync = false
switchover-max-slave-delay = 30

# MAXSCALE PROXY
# --------------

# for 2 nodes cluster maxscale can be driven by replication manager

maxscale = false

# When true replication manager drive maxscale server state
# Not required unless multiple maxscale or release does not support detect_stale_slave
maxscale-disable-monitor = false

# maxinfo|maxadmin

maxscale-get-info-method = "maxadmin"
maxscale-maxinfo-port = 4002

maxscale-host = "192.168.0.201"
maxscale-port = 4003
maxscale-user = "admin"
maxscale-pass = "mariadb"
maxscale-write-port = 4007
maxscale-read-port = 4008
maxscale-read-write-port = 4006
maxscale-binlog-port = 4000


# HAPROXY WRAPPER MODE
# --------------------

haproxy = false
haproxy-binary-path = "/usr/sbin/haproxy"

# Read write traffic
# Read only load balance least connection traffic
haproxy-write-port = 3306
haproxy-read-port = 3307

# MARIADB SHARDING PROXY
# ----------------------
mdbshardproxy = false
mdbshardproxy-hosts = "127.0.0.1:3306"
mdbshardproxy-user = "root:mariadb"

# STATS
# -----

graphite-metrics = false
graphite-carbon-host = "127.0.0.1"
graphite-carbon-port = 2003

graphite-embedded = false
graphite-carbon-api-port = 10002
graphite-carbon-server-port = 10003
graphite-carbon-link-port = 7002
graphite-carbon-pickle-port = 2004
graphite-carbon-pprof-port = 7007


# SYSBENCH
# --------

sysbench-binary-path = "/usr/sbin/sysbench"
sysbench-threads = 4
sysbench-time = 60


# MARIADB >= 10.2
# ---------------

mariadb-binary-path = "/usr/sbin"

# REJOIN
# --------
autorejoin = true
autorejoin-semisync = true
autorejoin-flashback = true
autorejoin-mysqldump = false


# ETCD CLUSTER
# ------------

#[Agent1]
#hosts= "127.0.0.1:5012"
#rpluser = "skysql:skyvodka"

#[Agent2]
#hosts = "127.0.0.1:5054"
#rpluser = "skysql:skyvodka"
