.modalContent {
  max-width: 90%;
  @include breakpoint('md', 'lg') {
    max-width: 70%;
  }
  @include breakpoint('lg') {
    max-width: 45%;
  }
  .modalHeader {
    white-space: pre-line;
    font-size: rem(18);
    font-weight: 600;
    margin-top: rem(8);
    margin-bottom: rem(4);
  }
  .modalBody {
    padding-top: rem(8);
    padding-bottom: rem(8);
  }
}
