.tableContainer {
  width: 97%;
  border-radius: rem(16);
  border: rem(2) solid;
  border-color: var(--tertiary-color);
  margin: auto;
  &.red {
    border-color: var(--danger-secondary-color);
  }
  &.orange {
    border-color: var(--warning-secondary-color);
  }
  .table {
    font-size: rem(10);
    .column {
      padding: 0;
      white-space: break-spaces;
      border-left: rem(2) solid;
      border-color: var(--tertiary-color);
      text-align: center;
      border-bottom: 0;
      &.red {
        border-color: var(--danger-secondary-color);
      }
      &.orange {
        border-color: var(--warning-secondary-color);
      }
      &:first-of-type {
        border-left: 0;
      }

      &.bodyColumn {
        line-height: 0;
      }
    }
  }
}
