:global {
  .dark {
    --body-bg-color: #131a34;
    --text-color: #ffffff;

    --primary-color: #1a365d;
    --secondary-color: #2a4365;
    --tertiary-color: #2c5282;
    --quaternary-color: #1a365d;

    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #2d3748;
    --secondary-gray-color: #2a3048;

    --danger-color: red;
    --warning-color: orange;
  }
}
