html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color) !important;
  color: var(--text-color);
}

html,
body,
p,
label,
span:not([data-status='success']):not([data-status='error']):not([class*='tagpill']):not([class*='alertCount']):not(
    [class*='-radio__control']
  ):not([class*='-checkbox__control']),
input,
th,
td,
code,
[role='menu'] > button,
button[class*='accordion'] {
  color: var(--text-color) !important;
}
text {
  fill: var(--text-color);
}

[class*='chakra-checkbox__control'] {
  border-color: var(--primary-color) !important;
}

input[type='search'],
input[type='text'],
input[type='number'] {
  border-color: var(--secondary-color);
}
