// src/styles/_graphite.scss
.axis {
  font-size: rem(14);
  background-color: var(--secondary-gray-color);

  text {
    transition: fill-opacity 250ms linear;
  }

  path {
    display: none;
  }

  line {
    stroke: var(--primary-color);
    shape-rendering: crispEdges;
  }
}

.horizon {
  border-top: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  overflow: hidden;
  position: relative;
  background-color: var(--secondary-gray-color);

  + .horizon {
    border-top: none;
  }

  canvas {
    display: block;
  }

  .title,
  .value {
    position: absolute;
    margin: 0 6px;
    line-height: 30px;
    white-space: nowrap;
  }

  .title {
    top: 0;
    left: 0;
    font-size: rem(20);
    font-weight: bold;
  }

  .value {
    right: 0;
    bottom: 0;
  }
}

.line {
  background: var(--danger-primary-color);
  opacity: 0.7;
  z-index: 2;
}
