$pattern-spacing: 8;

//border-radius
$border-radius-xs: rem(8);
$border-radius-sm: rem(16);
$border-radius-md: rem(24);
$border-radius-lg: rem(32);

//box-shadow
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-md:
  0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-lg:
  0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
