.stepButtons {
  display: flex;
  width: 100%;
  justify-content: center;

  .decreaseButton {
    color: var(--danger-primary-color);
    box-shadow: 0 1px 2px 0 var(--danger-primary-color);
  }
  .increaseButton {
    color: var(--success-primary-color);
    box-shadow: 0 1px 2px 0 var(--success-primary-color);
  }
}

.labelText {
  display: block;
  font-size: rem(11);
  font-weight: 500;
  letter-spacing: 0.03em;
}
