.accordion {
}

.table {
  th {
    padding-top: rem(8);
    padding-bottom: rem(8);
  }
}

.queryInputSection {
  width: 100%;
  padding: rem(12);
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.actionsSection {
  display: flex;
  padding: rem(8) 0;
  border-top: rem(1) solid var(--tertiary-color);
  border-bottom: rem(1) solid var(--tertiary-color);
}

.infoSection {
  padding: rem(8);
  border-radius: $border-radius-sm;
  border-left: rem(4) solid var(--warning-color);
}

.queryHint {
  padding: rem(8);
  border-radius: $border-radius-sm;
  border-left: rem(3) solid var(--warning-color);
}

.emptyResults {
  padding: rem(40);
  text-align: center;
}
