<md-card>
  <style>
  .cron table {
      border: 1px solid black;
      border-collapse : collapse;
      border-spacing: 0px;
  }
  .cron th {
      padding: 1px;
      border-collapse: collapse;

  }
  .cron td {
      height: 28px;
      border-collapse: collapse;
      background-color: #ccc;
      padding: 1px;
  }
  </style>
<div>
    <table ng-if="settings"  width="100%" >
        <tr>
            <th>Scheduler</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.monitoringScheduler"
                           ng-click="switchsettings('monitoring-scheduler')" aria-label="Enabling scheduler">
                    <span ng-if="selectedCluster.config.monitoringScheduler" class="label label-primary">On</span><span
                        ng-if="!selectedCluster.config.monitoringScheduler" class="label label-warning">Off</span>

            </md-switch>
            </td>
        </tr>
      </table>

</div>

</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-logical-backup.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-physical-backup.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-optimize.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-analyze.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-errors.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-log.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-restart.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-reprov.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-sla.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-jobs.html'"></div>
</md-card><md-card>
<div ng-include src="'static/card-setting-scheduler-alert.html'"></div>
</md-card>
