<md-card ng-if="settings.config.test">
    <table class="table">
        <tr>
            <th colspan=3>
              Tests
            </th>
        </tr>
        <tr>
          <td  colspan=2>
                <label for="test" action="/runonetest" >
                </label>
                <md-select name="selectedTest" id="selectedTest" ng-model="selectedTest" ng-change="runonetest(selectedTest)">
                    <md-option ng-selected="{{element == settings.tests}}"
                               ng-repeat="element in settings.tests" value="{{element}}">{{element}}</md-option>
                </md-select>
          </td> <td>

              <md-button type="button" class="btn btn-primary" ng-click="test()">Run Tests</md-button>
          </td>
        </tr>
        <tr>
          <td >
            <md-select name="selectedThreads" id="selectedThreads" ng-model="selectedThreads" >
                <md-option ng-value="1" ng-selected="{{element == selectedCluster.config.sysbenchThreads}}" > 1 </md-option>
                  <md-option ng-value="4" ng-selected="{{element == selectedCluster.config.sysbenchThreads}}"> 4 </md-option>
                  <md-option ng-value="8" ng-selected="{{element == selectedCluster.config.sysbenchThreads}}" > 8 </md-option>
                    <md-option ng-value="16" ng-selected="{{element == selectedCluster.config.sysbenchThreads}}"> 16 </md-option>
                      <md-option ng-value="32" ng-selected="{{element == selectedCluster.config.sysbenchThreads}}"> 32 </md-option>
                          <md-option ng-value="64" ng-selected="{{element == selectedCluster.config.sysbenchThreads}}"> 64 </md-option>
                          <md-option ng-value="128" ng-selected="{{element == selectedCluster.config.sysbenchThreads}}"> 128 </md-option>
            </md-select>
            </td><td colspan=2>
              <md-button type="button" class="btn btn-primary" ng-click="sysbench(selectedThreads)">Sysbench</md-button>
          </td>
        </tr>
        <tr>
            <td colspan=2>
                Waiting Rejoin
            </td>
            <td>
              {{ selectedCluster.waitingRejoin }}
            </td>
        </tr>
        <tr>
            <td colspan=2>
                Waiting Switchover
            </td>
            <td>
              {{ selectedCluster.waitingSwitchover }}
            </td>
        </tr>
        <tr>
            <td colspan=2>
                Waiting Failover
            </td>
            <td>
              {{ selectedCluster.waitingFailover }}
            </td>
        </tr>
    </table>
</md-card>
