  <md-card ng-if="selectedCluster">
     <table  ng-if="settings" md-table class="table md-primary md-data-table">
       <col style="width: 40%;">
       <col style="width: 10%;">
       <col style="width: 40%;">
       <col style="width: 10%;">

         <tr  md-row>
             <th colspan=4>Orchestrator Disks</th>

         </tr>
         <tr><td>

           Database Disk Type: <span  style="display:inline-block;;margin: 2px;" class="label label-success">{{selectedCluster.config.provDbDiskType}}</span>
           <md-select  name="selectedDBDiskTyoe"  ng-model="selectedDBDiskTyoe">
               <md-option ng-selected="{{key ==  selectedCluster.config.provDbDiskType}}"
                          ng-repeat="(key, value) in settings.serviceDisk" ng-value="key"
                          selected="{{ key === selectedCluster.config.provDbDiskType ? 'selected' : '' }}">
                               {{key}}</md-option>
            </md-select>

             Database Disk FS: <span  style="display:inline-block;;margin: 2px;" class="label label-success"> {{selectedCluster.config.provDbDiskFs}}</span>
             <md-select  name="selectedDBDiskFS"  ng-model="selectedDBDiskFS">
                 <md-option ng-selected="{{key ==  selectedCluster.config.provDbDiskFs}}"
                            ng-repeat="(key, value) in settings.serviceFS" ng-value="key"
                            selected="{{ key === selectedCluster.config.provDbDiskFs ? 'selected' : '' }}">
                                 {{key}}</md-option>
              </md-select>
               Database Disk Pool: <span  style="display:inline-block;;margin: 2px;" class="label label-success"> {{selectedCluster.config.provDbDiskPool}}</span>
              <md-select  name="selectedDBDiskPool"  ng-model="selectedDBDiskPool">
                  <md-option ng-selected="{{key ==  selectedCluster.config.provDbDiskPool}}"
                             ng-repeat="(key, value) in settings.servicePool" ng-value="key"
                             selected="{{ key === selectedCluster.config.provDbDiskPool ? 'selected' : '' }}">
                                  {{key}}</md-option>
               </md-select>
                Name:  <input type="text" ng-model="selectedDBDiskDevice" ng-value='selectedCluster.config.provDbDiskDevice'></input>
              </td><td>
                <span  style="display:inline-block;;margin: 2px;" ng-click="saveDBDisk(selectedDBDiskTyoe,selectedDBDiskFS,selectedDBDiskPool,selectedDBDiskDevice)"><i   style="display:inline-block;;margin: 2px;"  class="fa fa-save"></i></span>

     </td>
    <td>
      Proxy Disk Type: <span  style="display:inline-block;;margin: 2px;" class="label label-success">{{selectedCluster.config.provProxyDiskType}}</span>
      <md-select  name="selectedProxyDiskType"  ng-model="selectedProxyDiskType">
          <md-option ng-selected="{{key ==  selectedCluster.config.provProxyDiskType}}"
                     ng-repeat="(key, value) in settings.serviceDisk" ng-value="key"
                     selected="{{ key === selectedCluster.config.provProxyDiskType ? 'selected' : '' }}">
                          {{key}}</md-option>
       </md-select>

        Proxy Disk FS: <span  style="display:inline-block;;margin: 2px;" class="label label-success"> {{selectedCluster.config.provProxyDiskFs}}</span>
        <md-select  name="selectedProxyDiskFS"  ng-model="selectedProxyDiskFS">
            <md-option ng-selected="{{key ==  selectedCluster.config.provProxyDiskFs}}"
                       ng-repeat="(key, value) in settings.serviceFS" ng-value="key"
                       selected="{{ key === selectedCluster.config.provProxyDiskFs ? 'selected' : '' }}">
                            {{key}}</md-option>
         </md-select>
          Proxy Disk Pool: <span  style="display:inline-block;;margin: 2px;" class="label label-success"> {{selectedCluster.config.provProxyDiskPool}}</span>
         <md-select  name="selectedDBDiskPool"  ng-model="selectedProxyDiskPool">
             <md-option ng-selected="{{key ==  selectedCluster.config.provProxyDiskPool}}"
                        ng-repeat="(key, value) in settings.servicePool" ng-value="key"
                        selected="{{ key === selectedCluster.config.provProxyDiskPool ? 'selected' : '' }}">
                             {{key}}</md-option>
          </md-select>
           Name:  <input type="text" ng-model="selectedProxyDiskDevice" ng-value='selectedCluster.config.provProxyDiskDevice'></input>
         </td><td>
              <span  style="display:inline-block;;margin: 2px;" ng-click="saveProxyDisk(selectedProxyDiskType,selectedProxyDiskFS,selectedProxyDiskPool,selectedProxyDiskDevice)"><i   style="display:inline-block;;margin: 2px;"  class="fa fa-save"></i></span>


</td></tr>
   </table>

 </md-card>
