<md-card>
    <table ng-if="settings" class="table">
        <tr>
            <th>Cloud18</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="settings.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="settings.config.cloud18" ng-click="switchsettings('cloud18')" aria-label="Cloud18">
                    <span ng-if="settings.config.cloud18" class="label label-primary">On</span><span ng-if="!settings.config.cloud18" class="label label-warning">Off</span>
                </md-switch>
            </td>
        </tr>
        ​
        <tr>
            <th>Share the cluster on the Cloud18</th>
        </tr>
        <tr>
            <td>
                <md-switch ng-disabled="settings.apiUsers[user].grants['cluster-settings']==false || !settings.config.cloud18" ng-true-value="true" ng-false-value="false" ng-model="settings.config.cloud18Shared" ng-click="switchsettings('cloud18-shared')" aria-label="Share the cluster to the Cloud18">
                    <span ng-if="settings.config.cloud18Shared" class="label label-primary">On</span><span ng-if="!settings.config.cloud18Shared" class="label label-warning">Off</span>
                </md-switch>
            </td>
        </tr>
        ​
        <tr>
            <th>Vault Token</th>
        </tr>
        <tr>
            <td>
                <form name="vault_token" ng-submit="sendVaultToken()">
                    <button type="submit" class="btn btn-primary float-right">Send Vault token by mail</button>
                </form>
            </td>
        </tr>
    </table>
</md-card>