<table width="100%">
  <tr>
      <th>Schedule Optimize Tables</th>
  </tr>
  <tr>
      <td>
          <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.schedulerDbServersOptimize"
                     ng-click="switchsettings('scheduler-db-servers-optimize')" aria-label="Physical Backup">
              <span ng-if="selectedCluster.config.schedulerDbServersOptimize" class="label label-primary">On</span><span
                  ng-if="!selectedCluster.config.schedulerDbServersOptimize" class="label label-warning">Off</span>
      </md-switch>
      </td>
  </tr>
  <tr><td>
      <Table width="100%" width="100%" ng-if="settings" class="cron" ><tr>
      <th>
          <span  style="display:inline-block;;margin: 2px;" ng-click="saveOptimizeCron(selectedDbServersOptimizeHour.id,selectedDbServersOptimizeMin.id,selectedDbServersOptimizeSec.id,selectedDbServersOptimizeDay.id,selectedDbServersOptimizeMonth.id,selectedDbServersOptimizeWeek.id,selectedDbServersOptimizeHourTo.id,selectedDbServersOptimizeMinTo.id,selectedDbServersOptimizeSecTo.id,selectedDbServersOptimizeDayTo.id,selectedDbServersOptimizeMonthTo.id,selectedDbServersOptimizeWeekTo.id,selectedDbServersOptimizeHourPer.id,selectedDbServersOptimizeMinPer.id,selectedDbServersOptimizeSecPer.id)"><i   style="display:inline-block;;margin: 2px;"  class="fa fa-save"/></span>
      </th>
      <th>
        Hour
      </th>
      <th>
        Min
      </th>
      <th>
        Sec
      </th>
      <th>
        Day
      </th>
      <th>
        Mon
      </th>
      <th>
        Week
      </th>
      </tr><tr>
          <th>At:</th>
        <td>
      <md-select  name="selectedDbServersOptimizeHour" ng-model="selectedDbServersOptimizeHour">
          <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[2].split('-')[0].split('/')[0]}}"
                     ng-repeat="key in schedulerhours" ng-value="key">
                          {{key.name}}</md-option>
       </md-select>
       </td>
       <td>
     <md-select  name="selectedDbServersOptimizeMin" ng-model="selectedDbServersOptimizeMin">
         <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[1].split('-')[0].split('/')[0]}}"
                    ng-repeat="key in schedulerminutes" ng-value="key">
                         {{key.name}}</md-option>
      </md-select>
      </td>
        <td>
      <md-select  name="selectedDbServersOptimizeSec" ng-model="selectedDbServersOptimizeSec">
          <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[0].split('-')[0].split('/')[0]}}"
                     ng-repeat="key in schedulersecondes" ng-value="key">
                          {{key.name}}</md-option>
       </md-select>
       </td>
       <td>
     <md-select  name="selectedDbServersOptimizeDay" ng-model="selectedDbServersOptimizeDay">
         <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[3].split('-')[0].split('/')[0]}}"
                    ng-repeat="key in schedulerdays" ng-value="key">
                         {{key.name}}</md-option>
      </md-select>
      </td>
      <td>
    <md-select  name="selectedDbServersOptimizeMonth" ng-model="selectedDbServersOptimizeMonth">
        <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[4].split('-')[0].split('/')[0]}}"
                   ng-repeat="key in schedulermonths" ng-value="key">
                        {{key.name}}</md-option>
     </md-select>
     </td>
     <td>
   <md-select  name="selectedDbServersOptimizeWeek" ng-model="selectedDbServersOptimizeWeek">
       <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[5].split('-')[0].split('/')[0]}}"
                  ng-repeat="key in schedulerweeks" ng-value="key">
                       {{key.name}}</md-option>
    </md-select>
    </td>
       </tr>
       <tr>
           <th>To:</th>
       <td>
       <md-select  name="selectedDbServersOptimizeHourTo" ng-model="selectedDbServersOptimizeHourTo">
           <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[2].split('-')[1]}}"
                      ng-repeat="key in schedulerhours" ng-value="key">
                           {{key.name}}</md-option>
        </md-select>
        </td>
        <td>
      <md-select  name="selectedDbServersOptimizeMinTo" ng-model="selectedDbServersOptimizeMinTo">
          <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[1].split('-')[1]}}"
                     ng-repeat="key in schedulerminutes" ng-value="key">
                          {{key.name}}</md-option>
       </md-select>
       </td>
         <td>
       <md-select  name="selectedDbServersOptimizeSecTo" ng-model="selectedDbServersOptimizeSecTo">
           <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[0].split('-')[1]}}"
                      ng-repeat="key in schedulersecondes" ng-value="key">
                           {{key.name}}</md-option>
        </md-select>
        </td>
        <td>
      <md-select  name="selectedDbServersOptimizeDayTo" ng-model="selectedDbServersOptimizeDayTo">
          <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[3].split('-')[1]}}"
                     ng-repeat="key in schedulerdays" ng-value="key">
                          {{key.name}}</md-option>
       </md-select>
       </td>
       <td>
     <md-select  name="selectedDbServersOptimizeMonthTo" ng-model="selectedDbServersOptimizeMonthTo">
         <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[4].split('-')[1]}}"
                    ng-repeat="key in schedulermonths" ng-value="key">
                         {{key.name}}</md-option>
      </md-select>
      </td>
      <td>
     <md-select  name="selectedDbServersOptimizeWeekTo" ng-model="selectedDbServersOptimizeWeekTo">
        <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[5].split('-')[1]}}"
                   ng-repeat="key in schedulerweeks" ng-value="key">
                        {{key.name}}</md-option>
     </md-select>
     </td>
        </tr>
        <tr>
            <th>Per:</th>
        <td>
        <md-select  name="selectedDbServersOptimizeHourPer" ng-model="selectedDbServersOptimizeHourPer">
            <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[2].split('/')[1]}}"
                       ng-repeat="key in schedulerhours" ng-value="key">
                            {{key.name}}</md-option>
         </md-select>
         </td>
         <td>
       <md-select  name="selectedDbServersOptimizeMinPer" ng-model="selectedDbServersOptimizeMinPer">
           <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[1].split('/')[1]}}"
                      ng-repeat="key in schedulerminutes" ng-value="key">
                           {{key.name}}</md-option>
        </md-select>
        </td>
          <td>
        <md-select  name="selectedDbServersOptimizeSecPer" ng-model="selectedDbServersOptimizeSecPer">
            <md-option ng-selected="{{key.id ==  selectedCluster.config.schedulerDbServersOptimizeCron.split(' ')[0].split('/')[1]}}"
                       ng-repeat="key in schedulersecondes" ng-value="key">
                            {{key.name}}</md-option>
         </md-select>
         </td>
         <td colspan=3></td>
         </tr>
     </table>
    </td>

</tr>
</table>
