<md-card ng-if="selectedCluster">
  <table style="" ng-if="settings" md-table class="table md-primary md-data-table">
    <tr md-row>
      <th>Database Configurator</th>
    </tr>
    <tr>
      <td>
        Force Write Config Files
        <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.provDBForceWriteConfig" ng-click="switchsettings('prov-db-force-write-config')" aria-label="Force write config files">
          <span ng-if="selectedCluster.config.provDBForceWriteConfig" class="label label-primary">On</span><span ng-if="!selectedCluster.config.provDBForceWriteConfig" class="label label-warning">Off</span>
        </md-switch>
      </td>
    </tr>
    <tr>
      <td>
        Apply Dynamic Config
        <md-switch ng-disabled="selectedCluster.apiUsers[user].grants['cluster-settings']==false" ng-true-value="true" ng-false-value="false" ng-model="selectedCluster.config.provDBApplyDynamicConfig" ng-click="switchsettings('prov-db-apply-dynamic-config')" aria-label="Apply database dynamic config">
          <span ng-if="selectedCluster.config.provDBApplyDynamicConfig" class="label label-primary">On</span><span ng-if="!selectedCluster.config.provDBApplyDynamicConfig" class="label label-warning">Off</span>
        </md-switch>
      </td>
    </tr>
  </table>

  <div layout="column" layout-gt-xs="row">
    <div flex-gt-xs="25" class="col-lg-25">
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Replication</u></b><br>
      </div>

      <span ng-if="tag.category=='replication'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Logs</u></b>
      </div>
      <span ng-if="tag.category=='log'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Engines</u></b>
      </div>
      <span ng-if="tag.category=='engine'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
    </div>
    <div flex-gt-xs="25" class="col-lg-25">
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Optimizer</u></b>
      </div>
      <span ng-if="tag.category=='optimizer'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
    </div>
    <div flex-gt-xs="25" class="col-lg-25">
      <div style="padding: 0px 20px 10px 4px;">

        <b><u>Disk</u></b>
      </div>
      <span ng-if="tag.category=='disk'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Network</u></b>
      </div>
      <span ng-if="tag.category=='network'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
    </div>

    <div flex-gt-xs="25" class="col-lg-25">
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Security</u></b>
      </div>
      <span ng-if="tag.category=='security'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Charsets</u></b>
      </div>
      <span ng-if="tag.category=='charset'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>System</u></b>
      </div>
      <span ng-if="tag.category=='system'" ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingDBTags" class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span>

    </div>
  </div>

  <BR>
  <div layout="column" layout-gt-xs="row">
    <div flex-gt-xs="50" class="col-lg-50">
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Using</u></b><br>
        <span ng-disabled="selectedCluster.apiUsers[user].grants['db-config-flag']==false" ng-click="cldropdbtag(tag)" style="display:inline-block;;margin: 2px;" ng-repeat="tag in selectedCluster.configurator.dbServersTags" class="label label-success">{{ tag }} <i class="fa fa-minus-circle" ng-click="cldropdbtag(tag)"></i></span>
      </div>

    </div>
    <div flex-gt-xs="50" class="col-lg-50">
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Connections</u></b>
      </div>
      <table>
        <tr>
          <td><ng-gauge type="arch" value="selectedCluster.config.provDbMaxConnections" thick="5" size="120" min="200" max="10000" cap="round" label="Connections" />
          </td>
          <td>

            <span ng-click="clsetdbconns(selectedCluster.config.provDbExpireLogDays,200)" style="display:inline-block;margin: 2px;" class="label label-success">200 <i class="fa fa-plus-circle" ng-click="clsetdbconns(selectedCluster.config.provDbMaxConnections,200)"></i></span>
            <BR>
            <span ng-click="clsetdbconns(selectedCluster.config.provDbExpireLogDays,-200)" style="display:inline-block;margin: 2px;" class="label label-danger">200 <i class="fa fa-minus-circle" ng-click="clsetdbconns(selectedCluster.config.provDbMaxConnections,-200)"></i></span>
          </td>
          <td>
          </td>
          <td>
            <ng-gauge type="arch" value="selectedCluster.config.provDbExpireLogDays" thick="5" size="120" min="0" max="90" cap="round" label="Expire Binlog Days" />
          </td>
          <td>
            <span ng-click="clsetdbexpirelogdays(selectedCluster.config.provDbExpireLogDays,1)" style="display:inline-block;margin: 2px;" class="label label-success">1 <i class="fa fa-plus-circle" ng-click="clsetdbexpirelogdays(selectedCluster.config.provDbExpireLogDays,1)"></i></span>
            <BR>
            <span ng-click="clsetdbexpirelogdays(selectedCluster.config.provDbExpireLogDays,-1)" style="display:inline-block;margin: 2px;" class="label label-danger">1 <i class="fa fa-minus-circle" ng-click="clsetdbexpirelogdays(selectedCluster.config.provDbExpireLogDays,-1)"></i></span>

          </td>
        <tr>
      </table>
    </div>
  </div>
  <b><u>Ressources</u></b><br>

  <table>
    <tr>
      <td>
        <ng-gauge type="arch" value="selectedCluster.config.provDbMemory" thick="5" size="120" min="1" max="25600" cap="round" append="MB" label="Memory" />
      </td>
      <td>
        <span ng-click="clsetdbmem(selectedCluster.config.provDbMemory,256)" style="display:inline-block;margin: 2px;" class="label label-success">256MB <i class="fa fa-plus-circle" ng-click="clsetdbmem(selectedCluster.config.provDbMemory,256)"></i></span>
        <BR>
        <span ng-click="clsetdbmem(selectedCluster.config.provDbMemory,-256)" style="display:inline-block;margin: 2px;" class="label label-danger">256MB <i class="fa fa-minus-circle" ng-click="clsetdbmem(selectedCluster.config.provDbMemory,-256)"></i></span>
      </td>
      <td>
        <ng-gauge type="arch" value="selectedCluster.config.provDbDiskSize" thick="5" size="120" min="1" max="10000" cap="round" append="gB" label="Disk Size" />
      </td>
      <td>
        <span ng-click="clsetdbdisk(selectedCluster.config.provDbDiskSize,10)" style="display:inline-block;margin: 2px;" class="label label-success">10gB <i class="fa fa-plus-circle"></i></span>
        <BR>
        <span ng-click="clsetdbdisk(selectedCluster.config.provDbDiskSize,-10)" style="display:inline-block;margin: 2px;" class="label label-danger">10gB <i class="fa fa-minus-circle"></i></span>
      </td>
      <td>
        <ng-gauge type="arch" value="selectedCluster.config.provDbDiskIops" thick="5" size="120" min="1" max="100000" cap="round" label="Disk IO/s" />
      </td>
      <td>
        <span ng-click="clsetdbio(selectedCluster.config.provDbDiskIops,100)" style="display:inline-block;margin: 2px;" class="label label-success">100 <i class="fa fa-plus-circle" ng-click="clsetdbio(selectedCluster.config.provDbDiskIops,+100)"></i></span>
        <BR>
        <span ng-click="clsetdbio(selectedCluster.config.provDbDiskIops,-100)" style="display:inline-block;margin: 2px;" class="label label-danger">100 <i class="fa fa-minus-circle" ng-click="clsetdbio(selectedCluster.config.provDbDiskIops,-100)"></i></span>
      </td>
      <td>
        <ng-gauge type="arch" value="selectedCluster.config.provDbCpuCores" thick="5" size="120" min="1" max="256" cap="round" label="Cores" />
      </td>
      <td>
        <span ng-click="clsetdbcore(selectedCluster.config.provDbCpuCores,1)" style="display:inline-block;margin: 2px;" class="label label-success">1 <i class="fa fa-plus-circle" ng-click="clsetdbcore(selectedCluster.config.provDbCpuCores,+1)"></i></span>
        <BR>
        <span ng-click="clsetdbcore(selectedCluster.config.provDbCpuCores,-1)" style="display:inline-block;margin: 2px;" class="label label-danger">1 <i class="fa fa-minus-circle" ng-click="clsetdbcore(selectedCluster.config.provDbCpuCores,-1)"></i></span>



    </tr>
  </table>
</md-card>