<md-menu >
     <md-button  style="min-width:20px;margin: 2px 2px 2px 2px;padding: 0 2px 0 2px;" aria-label="Open proxy interactions menu" class="md-raised" ng-click="$mdMenu.open($event)">
        <md-icon md-menu-origin  class="fa fa-bars "></md-icon>
     </md-button>
     <md-menu-content>
        <md-menu-item >
           <md-menu >
              <md-button ng-click="$mdMenu.open($event)" ">
                 <span md-menu-align-target>
                    Provision
                    <md-icon  class="fas fa-arrow-right"></md-icon>
                 </span>
              </md-button>
              <md-menu-content>

                 <md-menu-item ng-if="settings.config.provOrchestrator!='onpremise'" ng-click="prxprovision(proxy.id,proxy.host,proxy.port)">
                    <md-button ng-disabled="selectedCluster.apiUsers[user].grants['prov-proxy-provision']==false">
                       <md-icon md-menu-align-target class="fas fa-cogs"></md-icon>
                       Provision Proxy
                    </md-button>
                 </md-menu-item>
                 <md-menu-item ng-if="settings.config.provOrchestrator!='onpremise'"  ng-click="prxunprovision(proxy.id,proxy.host,proxy.port)">
                    <md-button ng-disabled="selectedCluster.apiUsers[user].grants['prov-proxy-unprovision']==false">
                       <md-icon md-menu-align-target class="fas fa-trash"></md-icon>
                       Unprovision Proxy
                    </md-button>
                 </md-menu-item>
                 <md-menu-item ng-click="prxstart(proxy.id,proxy.host,proxy.port)">
                    <md-button ng-disabled="selectedCluster.apiUsers[user].grants['proxy-start']==false">
                       <md-icon md-menu-align-target class="fas fa-trash"></md-icon>
                       Start Proxy
                    </md-button>
                 </md-menu-item>
                 <md-menu-item ng-click="prxstop(proxy.id,proxy.host,proxy.port)">
                    <md-button ng-disabled="selectedCluster.apiUsers[user].grants['proxy-stop']==false">
                       <md-icon md-menu-align-target class="fas fa-trash"></md-icon>
                       Stop Proxy
                    </md-button>
                 </md-menu-item>
              </md-menu-content>
           </md-menu>
        </md-menu-item>
        <md-menu-item ng-click="dropmonitor(proxy.host,proxy.port,proxy.type)">
         <md-button ng-disabled="selectedCluster.apiUsers[user].grants['cluster-drop-monitor']==false">
            <md-icon md-menu-align-target class="fas fa-trash"></md-icon>
            Remove From Monitor
         </md-button>
      </md-menu-item>
     </md-menu-content>
  </md-menu>
