<md-content ng-if="selectedCluster" class="md-padding">
    <div ng-include src="'static/tab-cluster-dashboard-dialogs.html'"></div>
    <div ng-include src="'static/toolbar-cluster.html'"></div>
    <div ng-include src="'static/dashboard/failed-connection-to-backend.html'"></div>
    <div ng-include src="'static/dashboard/card-cluster-top.html'"></div>
    <div ng-if="serverListTabular" ng-include src="'static/card-cluster-server-list-tab.html'"></div>
    <div ng-if="!serverListTabular" ng-include src="'static/card-cluster-server-list.html'"></div>
    <div ng-include src="'static/card-cluster-log.html'"></div>
    <div ng-include src="'static/dashboard/card-cluster-bottom.html'"></div>
</md-content>
