<md-content class="md-padding">
   <md-card>
      <md-tabs style="min-height: 600px;" md-dynamic-height="" md-border-bottom="">
         <md-tab md-select-id="Backups" ng-click="onSubTabClicked('Backups')" md-on-select="onSubTabSelected" label="Backups" ng-if="!selectedServer && selectedCluster.apiUsers[user].grants['cluster-show-backups']==true">
            <div ng-if="selectedSubTab=='Backups'" ng-include src="'static/tab-cluster-backup-list.html'"></div>
         </md-tab>
         <md-tab md-select-id="Backups" ng-click="onSubTabClicked('Restore')" md-on-select="onSubTabSelected" label="Restore" ng-if="!selectedServer && selectedCluster.apiUsers[user].grants['cluster-show-backups']==true">
            <div ng-if="selectedSubTab=='Restore'" ng-include src="'static/tab-cluster-backup-restore.html'"></div>
         </md-tab>
      </md-tabs>
   </md-card>
</md-content>