

<md-content  class="md-padding">
  <md-button style="margin: 1px 0;font-size: 8px;padding: 1px 1px 1px 1px;border-radius: 10px 10px 10px 10px;" class="md-mini md-raised" ng-click="checksumalltables()">Checksum</md-button>

          <md-card>


              <style>
                table{
                  table-layout: fixed;
                  width: 100%;


                }
                td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
      </style>

                   <table  class="table table-condensed fixed"  >
                       <col width="6%"/>
                      <col width="10%"/>
                      <col width="12%"/>
                      <col width="5%"/>
                      <col width="5%"/>
                      <col width="5%"/>
                      <col width="5%"/>
                      <col width="25%"/>
                      <col width="2%"/>
                      <col width="5%"/>
                      <tr>
                         <th >Actions</th>
                         <th >Schema</th>
                         <th >Name</th>
                         <th >Engine</th>
                         <th >Rows</th>
                         <th>Data</th>
                         <th >Index</th>
                        <th >Shards</th>
                        <th >Sync</th>
                         <th >%</th>
                      </tr>

                      <tr ng-repeat="table in vtables">
                         <td><md-button style="margin: 1px 0;font-size: 8px;padding: 1px 1px 1px 1px;border-radius: 10px 10px 10px 10px;" class="md-mini md-raised" ng-click="checksumtable(table.table_schema,table.table_name)">Checksum</md-button>
                           <md-button style="margin: 1px 0;font-size: 8px;padding: 1px 1px 1px 1px;border-radius: 10px 10px 10px 10px;" ng-if="selectedCluster.config.shardproxy==true" class="md-mini md-raised" ng-click="reshardtable(table.table_schema,table.table_name)">Reshard</md-button> </td>
                         <td class="text">{{ table.table_schema }}</td>
                         <td class="text"">{{ table.table_name }}    </td>
                         <td class="text">{{ table.engine }} </td>
                         <td class="text">{{ table.table_rows }}</td>
                         <td class="text">{{ (table.data_length/1024/1024).toFixed(2);}}M</td>
                         <td class="text">{{ (table.index_length/1024/1024).toFixed(2) }}M</td>
                         <td class="text" style="white-space: -o-pre-wrap;word-wrap:break-word;white-space: pre-wrap;dwhite-space: -moz-pre-wrap;white-space: -pre-wrap;">{{ table.table_clusters }}</td>
                          <td class="text">{{ table.table_sync }}</td>
                         <td class="process" align="center"><ng-gauge type="arch" value="getTablePct(table.data_length ,table.index_length)"
                           thick="3" size="40"  duration="300" min="0" max="100"  cap="round" append="%" > </td>


                      </tr>
                   </table>




             </md-card>


             <BR><BR>
<div ng-include src="'static/card-cluster-log.html'"></div>


        </md-content>
