# config.toml
# Example replication-manager configuration file

# change the service file  in /etc/systemd/system/replication-manager.service to looks like :
# replication-manager  --config=./etc/config.toml.sample  --cluster=Cluster01,Cluster_Test_2_Nodes monitor



[Cluster_Maxscale_BinlogServer]
title = "ClusterTestBinlogServer"
db-servers-hosts = "127.0.0.1:5057,127.0.0.1:5058,127.0.0.1:3305"
db-servers-prefered-master = "127.0.0.1:5057"
db-servers-credential = "skysql:skyvodka"
db-servers-connect-timeout = 1

replication-credential = "skysql:skyvodka"

switchover-at-sync = false
failover-at-sync = false
failover-mode = "automatic"

maxscale = true
maxscale-get-info-method = "maxadmin"
maxscale-servers = "127.0.0.1"
maxscale-port = 3307
maxscale-user = "admin"
maxscale-pass = "mariadb"
maxscale-monitor = false
maxscale-maxinfo-port = 3307
maxscale-write-port = 4007
maxscale-read-port = 4008
maxscale-read-write-port = 4006
maxscale-binlog = true
maxscale-binlog-port = 3305


[Default]
prov-orchestrator = "local"
db-servers-binary-path= "/usr/local/mysql/bin/"
verbose = true
http-server = true
http-bind-address = "0.0.0.0"
