global
    log stdout format raw local0
    maxconn 4096
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend backend_servers

backend backend_servers
    balance roundrobin
    option httpchk GET /health
    server backend1 backend1:4000 check
    server backend2 backend2:4001 check
    server backend3 backend3:4002 check
