[cluster1]
#### to get full options list:> replication-mananager-osc monitor --help

title = "cluster1"
prov-orchestrator = "onpremise"
db-servers-hosts = "127.0.0.1:3331"
db-servers-prefered-master = "127.0.0.1:3331"
db-servers-credential = "root:mariadb"
# db-servers-connect-timeout = 1

replication-credential = "root:mariadb"

##############
## TOPOLOGY ##
##############

# replication-master-slave-never-relay = true
# replication-multi-master = false
# replication-multi-tier-slave = false
# replication-active-passive = false
# replication-multi-master-grouprep = false
# replication-multi-master-grouprep-port = 33061
# replication-multi-master-ring = false
# replication-multi-master-wsrep = false
# replication-multi-master-wsrep-port = 4567
# replication-multi-master-wsrep-sst-method = "mariabackup"
# replication-delayed-hosts = ""
# replication-delayed-time = 3600
# replication-multisource-head-clusters = ""
# replication-source-name = ""
# replication-use-ssl  = false

################
## MONITORING ##
################

## to stop monitoring this cluster
# monitoring-pause = true

# monitoring-innodb-status = false
# monitoring-performance-schema  = false
# monitoring-plugins = false
# monitoring-processlist = false
# monitoring-queries = false
# monitoring-query-rules = false
# monitoring-schema-change = false
# monitoring-variable-diff = false

# monitoring-capture = false
# monitoring-capture-file-keep = 5
# monitoring-capture-trigger = "ERR00076,ERR00041"

# monitoring-long-query-with-process = false
# monitoring-long-query-log-length = 200
# monitoring-long-query-time = 10000
# monitoring-long-query-with-table = true

# monitoring-write-heartbeat = true
# monitoring-write-heartbeat-credential = "user:password"

# monitoring-check-grants = false
# monitoring-erreur-log-length = 20
# monitoring-ignore-errors = ""

###########################
## DATABASE CONFIGURATOR ##
###########################

# prov-db-tags = "innodb,noquerycache,slow,pfs,pkg,linux,smallredolog,logtotable"
# prov-db-memory = "256"
# prov-db-memory-shared-pct = "threads:16,innodb:60,myisam:10,aria:10,rocksdb:1,tokudb:1,s3:1,archive:1,querycache:0"
# prov-db-disk-size = "1"
# prov-db-cpu-cores = "1"
# prov-db-disk-iops = "300"
# prov-db-expire-log-days = 5
# prov-db-max-connections = 1000

####################
##  CLUSTER LOGS  ##
####################

# log-writer-election  = false
# log-level = 3
# log-rotate-max-age = 7
# log-rotate-max-backup = 7
# log-rotate-max-size = 5
# log-sst = false
# log-sst-level =  1
# log-backup-stream = false
# log-backup-stream-level = 2
# log-binlog-purge = false
# log-binlog-purge-level = 1
# log-config-load = false
# log-config-load-level= 2
# log-writer-election = false
# log-writer-election-level 1
# log-git = true
# log-git-level = 1
# log-graphite = true
# log-graphite-level = 2
# log-orchestrator = false
# log-orchestrator-level = 2
# log-vault  = false
# log-vault-level = 1

# log-secrets = true
# log-sql-in-monitoring = true


##############
## FAILOVER ##
##############

# failover-mode = "manual"
# failover-pre-script = ""
# failover-post-script = ""

## Slaves will re enter with read-only

# failover-readonly-state = false
# failover-falsepositive-heartbeat = false
# failover-falsepositive-heartbeat-timeout = 3

# failover-event-scheduler = true
# failover-event-status = true

## Failover after N failures detection
## Cancel failover if already N failover
## Cancel failover if last failover was N seconds before
## Cancel failover if one slave receive master heartbeat
## Cancel failover when replication delay is more than N seconds
## Cancel failover in semi-sync when no slave is in sync

# failover-falsepositive-ping-counter = 5
# failover-limit = 0
# failover-time-limit = 0
# failover-max-slave-delay = 30

# failover-at-sync = true
# failover-restart-unsafe = true

# failover-falsepositive-maxscale = true
# failover-falsepositive-maxscale-timeout = 14
# failover-falsepositive-external = true
# failover-falsepositive-external-port = 80

# failover-mdev-check = true
# failover-mdev-level = "blocker"

################
## SWITCHOVER ##
################

## In switchover Wait N milliseconds before killing long running transactions
## Cancel switchover if transaction running more than N seconds
## Cancel switchover if write query running more than N seconds
## Cancel switchover if one of the slaves is not synced based on GTID equality

# switchover-wait-kill = 5000
# switchover-wait-trx = 10
# switchover-wait-write-query = 10
# switchover-at-equal-gtid = true
# switchover-at-sync = true
# switchover-max-slave-delay = 30

############
## REJOIN ##
############

# autorejoin = false
# autorejoin-flashback-on-sync  = false
# autorejoin-backup-binlog = false

# autorejoin-script = ""

# autorejoin-semisync = true
# autorejoin-backup-binlog = true
# autorejoin-flashback-on-unsync =true
# autorejoin-flashback = true
# autorejoin-mysqldump = true
# autorejoin-force-restore = true
# autorejoin-physical-backup = true
# autorejoin-slave-positional-heartbeat =true

####################
## CHECKS & FORCE ##
####################

# check-replication-filters = true
# check-binlog-filters = true
# check-replication-state = true
# check-binlog-filters = false

# force-slave-readonly = false
# force-slave-failover-readonly-state = false

# force-slave-heartbeat = true
# force-slave-heartbeat-retry = 5
# force-slave-heartbeat-time = 3
# force-slave-gtid-mode = true
# force-slave-no-gtid-mode = true
# force-slave-semisync = true
# force-slave-strict = true
# force-slave-idempotent = true

# force-binlog-row = true
# force-binlog-annotate = true
# force-binlog-slowqueries = true
# force-binlog-compress = true
# force-binlog-checksum = true
# force-inmemory-binlog-cache-size = true
# force-disk-relaylog-size-limit = true
# force-disk-relaylog-size-limit-size = 1000000000
# force-sync-binlog = true
# force-sync-innodb = true

## serialized|minimal|conservative|optimistic|aggressive
# force-slave-parallel-mode = ""

################
# MAINTENANCE ##
################

# backup-streaming = true
# backup-streaming-aws-access-key-id = "admin"
# backup-streaming-aws-access-secret = "xxxx"
# backup-streaming-endpoint= "https://s3.signal18.io/"
# backup-streaming-region= "fr-1"
# backup-streaming-bucket= "repman"

# backup-restic = true
# backup-physical-type = "mariabackup"
# backup-logical-type = "mysqldump"

# backup-restic-aws = true
# backup-restic-aws-access-secret = "xxxx"
# backup-restic-password = "xxxx"
# backup-restic-binary-path = "/usr/local/bin/restic"

# monitoring-scheduler = true
# scheduler-db-servers-logical-backup  = false
# scheduler-db-servers-logical-backup-cron= "0 0 1 * * 6"
# scheduler-db-servers-logs   =  true
# scheduler-db-servers-logs-cron = "0 0 * * * *"
# scheduler-db-servers-logs-table-keep = 4
# scheduler-db-servers-logs-table-rotate  = false
# scheduler-db-servers-logs-table-rotate-cron = "0 0 0/6 * * *"
# scheduler-db-servers-optimize  = true
# scheduler-db-servers-optimize-cron = "0 0 3 1 * 5"
# scheduler-db-servers-physical-backup = false
# scheduler-db-servers-physical-backup-cron = "0 0 0 * * *"
# scheduler-db-servers-analyze = false
# scheduler-db-servers-analyze-cron = "0 0 4 2 * *"

##################
## BINARY LOGS ###
##################

# backup-binlogs = true
# check-binlog-server-id = 10000

## Method for backing up binlogs: mysqlbinlog|ssh|gomysql|script (old value 'client' will be treated same as 'mysqlbinlog')
# binlog-copy-mode = "mysqlbinlog"

## Method for parsing binlogs: mysqlbinlog|gomysql
# binlog-parse-mode = "gomysql"

# force-binlog-row = false
# force-binlog-annotate = false
# force-binlog-slowqueries = false
# force-binlog-compress = false
# force-binlog-checksum = false
# force-sync-binlog = false

# force-binlog-purge = true
# force-binlog-purge-min-replica = 1
# force-binlog-purge-on-restore = true
# force-binlog-purge-replicas = true
# force-binlog-purge-total-size = 30

#############
## SCRIPTS ##
#############

# alert-script = ""
# arbitration-failed-master-script = ""
# autorejoin-script = ""
# backup-load-script = ""
# backup-save-scrip = ""
# binlog-copy-script = ""
# binlog-rotation-script = ""
# db-servers-state-change-script = ""
# failover-post-script = ""
# failover-pre-script = ""
# monitoring-close-state-script = ""
# monitoring-long-query-script = ""
# monitoring-open-state-script = ""
# monitoring-schema-change-script = ""
# onpremise-ssh-db-job-script = ""
# onpremise-ssh-start-db-script = ""
# onpremise-ssh-start-proxy-script = ""
# onpremise-ssh-stop-proxy-script = ""
# prov-db-bootstrap-script = ""
# prov-db-cleanup-script = ""
# prov-db-start-script = ""
# prov-db-stop-script = ""
# prov-proxy-bootstrap-script = ""
# prov-proxy-cleanup-script = ""
# prov-proxy-start-script = ""
# prov-proxy-stop-script = ""
# proxy-servers-state-change-script = ""
# replication-error-script = ""

#############
## PROXIES ##
#############

# proxy-servers-backend-compression = true
# proxy-servers-backend-max-connections = 1000
# proxy-servers-backend-max-replication-lag = 30
# proxy-servers-read-on-master = true
# proxy-servers-read-on-master-no-slave = false
# proxy-servers-state-change-script = "/usr/share/replication-manager/proxychangestate.sh"

##############
## PROXYSQL ##
##############

# proxysql = true
# proxysql-servers "proxysql1,proxysql2"
# proxysql-servers-ipv6 = ""
# proxysql-user = "admin"
# proxysql-password = "admin"
# proxysql-port = "3306"
# proxysql-admin-port = "6032"
# proxysql-reader-hostgroup ="1"
# proxysql-writer-hostgroup  "0"

## Bootstrap ProxySQL backend servers and hostgroup

# proxysql-bootstrap = true
# proxysql-bootstrap-hostgroups = true
# proxysql-bootstrap-query-rules = true
# proxysql-bootstrap-users = true
# proxysql-bootstrap-variables = true
# proxysql-multiplexing  = true
# proxysql-save-to-disk = true
# proxysql-binary-path = "/usr/sbin/proxysql"
# prov-proxy-docker-proxysql-img   =  "signal18/proxysql:1.4"

#############
## HAPROXY ##
#############

# haproxy = true
# haproxy-mode = "runtimeapi"
# haproxy-servers = "127.0.0.1"
# haproxy-servers-ipv6 = ""
# haproxy-binary-path = "/usr/sbin/haproxy"
# haproxy-api-port= 1999

## Read write traffic
## Read only load balance least connection traffic

# haproxy-write-port = 3306
# haproxy-read-port = 3307

# haproxy-api-read-backend = "service_read"
# haproxy-api-write-backend = "service_write"
# haproxy-debug = true
# haproxy-ip-read-bind = "0.0.0.0"
# haproxy-ip-write-bind = "0.0.0.0"
# haproxy-log-level = 1
# haproxy-password = "admin"
# haproxy-stat-port = 1988
# haproxy-user = "admin"

# prov-proxy-docker-haproxy-img = "haproxytech/haproxy-alpine:2.4"
# slapos-haproxy-partitions = ""

####################
## SHARDING PROXY ##
####################

# mdbshardproxy = true
# mdbshardproxy-hosts = "127.0.0.1:3306"
# mdbshardproxy-user = "root:mariadb"

##############
## MAXSCALE ##
##############

# maxscale = true
# maxscale-binlog = false
# maxscale-servers = "192.168.0.201"
# maxscale-port = 4003
# maxscale-user = "admin"
# maxscale-pass = "mariadb"

## When true replication manager drive maxscale server state
## Not required unless multiple maxscale or release does not support detect_stale_slave

# maxscale-disable-monitor = false

## maxinfo|maxadmin

# maxscale-get-info-method = "maxadmin"
# maxscale-maxinfo-port = 4002

# maxscale-write-port = 4007
# maxscale-read-port = 4008
# maxscale-read-write-port = 4006
# maxscale-binlog-port = 4000

##############
## EXTPROXY ##
##############

## External proxy can be used to monitor a route managed with external scripts

# extproxy = true
# extproxy-address = "host:port"
# proxy-servers-state-change-script = ""

###################
## JANITOR PROXY ##
###################

## Janitor ProxySQL is an entry point in a DC for routing to multiple clusters per database users
## Database users are translated to user.domain.

# proxyjanitor-servers = "proxysql1, proxysql2"
# proxyjanitor-servers-ipv6 = ""
# proxyjanitor-user  "external"
# proxyjanitor-password =  "admin"
# proxyjanitor-admin-port = "6032"
# proxyjanitor-port = "3306"

# haproxy-janitor-weights = "100"
# maxscale-janitor-weights = "100"
# proxysql-janitor-weights = "100"
# registry-consul-weights = "100"
# shardproxy-janitor-weights = "100"
# sphinx-janitor-weights = "100"
