<div layout="row">
    <div flex>
        <md-card ng-if="selectedCluster">
            <table ng-if="settings" class="table">
              <col style="width: 10%;">
              <col style="width: 30%;">
              <col style="width: 70%;">
                <tr>
                   <th>
                       <div align="right" ng-include src="'static/menu-cluster.html'"></div>
                   </th>
                   <th style="text-align:left;">Cluster</th>
                   <th style="text-align:right;" align="right"><span align="right" ng-if="selectedCluster.activePassiveStatus=='A'"
                              class="label label-success">ACTIVE</span><span align="right"
                            ng-if="selectedCluster.activePassiveStatus=='S'"
                            class="label label-warning">STANDBY</span>
                    </th>
                </tr>
                <tr>
                    <td colspan=2>Name</td>
                    <td><span class="label label-default" ng-if="!selectedClusterName">Default</span><span
                          class="label label-default"  ng-if="selectedClusterName">{{selectedClusterName}}</span> </td>
                </tr>
                <tr>
                    <td colspan=2>
                        Orchestrator
                    </td>
                    <td><span class="label label-info">{{selectedCluster.config.provOrchestrator}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        Status
                    </td>
                    <td><span ng-if="!selectedCluster.Conf.testInjectTraffic" class="label label-success">PrxTraffic</span> <span ng-if="selectedCluster.isProvision" class="label label-success">IsProvision</span> <span ng-if="!selectedCluster.isProvision" class="label label-warning">NeedProvision</span>
                       <span ng-if="selectedCluster.isNeedDatabasesRollingRestart" class="label label-warning">NeedRollingRestart</span><span ng-if="selectedCluster.isNeedDatabasesRollingReprov" class="label label-warning">NeedRollingReprov</span>
                       <span ng-if="selectedCluster.isNeedDatabasesRestart" class="label label-warning">NeedDabaseRestart</span> <span ng-if="selectedCluster.isNeedDatabasesReprov" class="label label-warning">NeedDatabaseReprov</span>
                       <span ng-if="selectedCluster.isNeedProxiesRestart" class="label label-warning">NeedProxyRestart</span><span ng-if="selectedCluster.isNeedProxiesReprov" class="label label-warning">NeedProxyReprov</span>
                        <span ng-if="selectedCluster.isNotMonitoring" class="label label-warning">UnMonitored</span> <span ng-if="selectedCluster.isCapturing" class="label label-warning">Capturing</span>
                    </td>
                </tr>
                  </table>
        </md-card>
    </div>
    <div flex>
        <md-card ng-if="selectedCluster  && servers">
            <table ng-if="settings" md-table class="tabletable-condensed fixed table">

              <col style="width: 5%;">
              <col style="width: 25%;">
             <col style="width: 70%%;">
                <tr md-row>

                  <th style="text-align:left;">
                    <md-button style="min-width:20px;margin: 2px 2px 2px 2px;padding: 0 2px 0 2px;" ng-disabled="selectedCluster.apiUsers[user].grants['cluster-switchover']==false" class="md-raised" ng-if="master.state !='Failed'" ng-click="switch(false)"
                                 aria-label="Switchover"><i class="fa fa-toggle-on" aria-hidden="true"></i></md-button>
                    <md-button style="min-width:20px;margin: 2px 2px 2px 2px;padding: 0 2px 0 2px;" ng-disabled="selectedCluster.apiUsers[user].grants['cluster-failover']==false"  class="md-raised md-warn" ng-if="master.state =='Failed'" ng-click="switch(true)"
                                 aria-label="Failover"><i class="fa fa-toggle-on" aria-hidden="true"></i></md-button>
                  </th>
                    <th>Availability</th>
                    <th style="text-align:right;"> <span class="label label-success">{{selectedCluster.topology}}</span></th>

                </tr>
                <tr>
                    <td colspan=2 width="20%">Failover</td>
                    <td  >
                        <table width="100%"><tr><td>Cheks</td><td>Count</td><td>Last Time</td></tr>
                        <td>{{selectedCluster.monitorSpin}}</td><td>{{selectedCluster.failoverCounter}} / {{selectedCluster.config.failoverLimit}}</td><td>{{selectedCluster.failoverLastTime}}</td>
                        </tr></table>
                    </td>
                </tr>

                <tr>
                <td colspan=2>SLA</td>
                <td >
                    <table><tr><td>Master Up</td><td>Slaves Catch</td><td>Slaves Sync</td></tr>
                    <td>{{selectedCluster.uptime}} %</td><td>{{selectedCluster.uptimeFailable}} %</td><td>{{selectedCluster.uptimeSemisync}} %</td>
                    </tr></table>
                </td>
              </tr>

            </table>
        </md-card>
    </div>
    <div flex>
        <md-card ng-if="selectedCluster  && servers">
            <table class="table">

                <tr>
                    <th colspan="2">Cluster Workload
                    </th>
                </tr>

                <tr>
                    <td>Questions</td>
                    <td>{{master.qps}}</td>
                </tr>
                <tr>
                    <td>Table Size</td>
                    <td>{{selectedCluster.dbTableSize}}</td>
                </tr>
                <tr>
                    <td>Index Size</td>
                    <td>{{selectedCluster.dbIndexSize}}</td>
                </tr>
            </table>

        </md-card>

    </div>
</div>
