<div layout="row">
    <div flex>
        <md-card ng-if="selectedCluster">
            <table ng-if="settings" class="table">
                <tr>
                    <th colspan="2">Monitor Status</th>
                </tr>
                <tr>
                    <td>Manager Status</td>
                    <td><span ng-if="selectedCluster.activePassiveStatus=='A'"
                              class="label label-success">ACTIVE</span><span
                            ng-if="selectedCluster.activePassiveStatus=='S'"
                            class="label label-warning">STANDBY</span>
                    </td>
                </tr>
                <tr>
                    <td>Cluster Name</td>
                    <td><span class="label label-default" ng-if="!selectedClusterName">Default</span><span
                          class="label label-default"  ng-if="selectedClusterName">{{selectedClusterName}}</span> </td>
                </tr>
                <tr>
                    <td>Failover Count</td>
                    <td>{{selectedCluster.failoverCounter}} / {{selectedCluster.config.failoverLimit}}</td>
                </tr>
                <td>Last Failover Time</td>
                <td>{{selectedCluster.failoverLastTime}}</td>
                </tr>

            </table>
        </md-card>
    </div>
    <div flex>
        <md-card ng-if="selectedCluster  && servers">
            <table ng-if="settings" md-table class="table md-primary md-data-table">
                <tr md-row>
                    <th colspan="2">Cluster Availability</th>
                </tr>
                <tr md-row>
                    <td>Monitor Tickers</td>
                    <td>{{selectedCluster.monitorSpin}}</td>
                </tr>
                <tr md-row>
                    <td>Master Available</td>
                    <td>{{selectedCluster.uptime}}</td>
                </tr>
                <tr md-row>
                    <td>Acceptable Data Loss</td>
                    <td>{{selectedCluster.uptimeFailable}}</td>
                </tr>
                <tr md-row>
                    <td>No Data Loss</td>
                    <td>{{selectedCluster.uptimeSemisync}}</td>
                </tr>
            </table>
        </md-card>
    </div>
    <div flex>
        <md-card ng-if="selectedCluster  && servers">
            <table class="table">

                <tr>
                    <th colspan="2">Cluster Info
                    </th>
                </tr>
                <tr>
                    <td>
                        Topology
                    </td>
                    <td><span class="label label-info">{{selectedCluster.topology}}</span>
                    </td>
                </tr>
                <tr>
                    <td>QPS</td>
                    <td>{{master.qps}}</td>
                </tr>
                <tr>
                    <td>Table Size</td>
                    <td>{{selectedCluster.dbTableSize}}</td>
                </tr>
                <tr>
                    <td>Index Size</td>
                    <td>{{selectedCluster.dbIndexSize}}</td>
                </tr>
            </table>

        </md-card>

    </div>
</div>
