<div>
  <md-grid-list   md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="3:4" md-row-height="3:4" md-gutter="0px" md-gutter-gt-sm="0px">

      <md-grid-tile    ng-repeat="server in servers"   ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }" >

<div style=" position: absolute;left: 0px;top: 0px;">
<md-card  ng-if="servers">
<table border=0 ng-if="servers" class="table table-condensed fixed">
  <col style="width: 35%;">
  <col style="width: 65%;">
    <tr>

<th class="rowicon" >
             <img ng-if="server.dbVersion.flavor=='MariaDB'" src="static/img/mariadb.svg"  class="vicon" />
              <img ng-if="server.dbVersion.flavor=='MySQL'"   src="static/img/mysql.png"    class="vicon"/>
              <img ng-if="server.dbVersion.flavor=='Percona'" src="static/img/percona.png"  class="vicon"/>
             {{server.host}}:{{server.port}}
      </th>
      <th align="right">
        <div align="right" ng-include src="'static/dashboard/server-menu.html'"></div>
      </th>
    </tr>
    <tr>
      <td class="status">Status</td>

      <td ng-switch="server.state">

      <span ng-switch-when="Master" class="label label-primary">Master<label
              ng-if="server.isVirtualMaster==true">-VMaster</label></span>
          <span ng-switch-when="Failed" class="label label-danger">Failed<label
                  ng-if="server.isVirtualMaster==true">-VMaster</label></span>
          <span ng-switch-when="Suspect" class="label label-warning">Suspect<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
          <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error<label
                  ng-if="server.isVirtualMaster==true">-VMaster</label></span>
          <span ng-switch-when="StandAlone" class="label label-info">Standalone<label
                  ng-if="server.isVirtualMaster==true">-VMaster</label></span>
          <span ng-switch-default class="label label-default">{{server.state}}
              <label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
      </td>

      </tr><tr>
        <td class="rowicon">Version</td><td>{{server.variables.VERSION}}</td>
        </tr><tr>
          <td class="rowicon">Server Id</td><td>{{server.variables.SERVER_ID}}</td>
        </tr><tr>
            <td>Fail Cnt</td>
            <td>{{server.failCount}}/{{server.failSuspectHeartbeat}}</td>
        </tr><tr>

    <td colspan=2 style="padding: 0px;">
    <Table class="table table-condensed fixed" style="border: 1px"><tr>
      <th class="tabicon">Prf Ign</th>
      <th class="tabicon">IO Thr</th>
      <th class="tabicon">SQL Thr</th>
      <th class="tabicon">Ro Sts</th>
      <th class="tabicon">Evt Sch</th>
      <th class="tabicon">Mst Syn</th>
      <th class="tabicon">Rep Syn</th>
    </tr><tr>
    <td class="tabicon"><i ng-if="server.ignored==true" class="fa fa-1x fa-thumbs-down text-danger"/><i
            ng-if="server.prefered==true" class="fa fa-1x fa-thumbs-up text-success"/></td>
    <td class="tabicon"><i ng-if="server.replications[0].slaveIoRunning.String=='Yes'"
                         class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.replications[0].slaveIoRunning.String!='Yes'"
            class="fa fa-1x fa-times-circle text-danger"></i></td>
    <td class="tabicon"><i ng-if="server.replications[0].slaveSqlRunning.String=='Yes'"
                         class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.replications[0].slaveSqlRunning.String!='Yes'"
            class="fa fa-1x fa-times-circle text-danger"></i></td>
    <td class="tabicon"><i ng-if="server.readOnly=='ON'" class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.readOnly!='ON'" class="fa fa-1x fa-times-circle text-danger"></i></td>
    <td class="tabicon"><i ng-if="server.eventScheduler==true" class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.eventScheduler==false" class="fa fa-1x fa-times-circle text-danger"></i></td>
    <td class="tabicon"><i ng-if="server.semiSyncMasterStatus==true" class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.semiSyncMasterStatus==false" class="fa fa-1x fa-times-circle text-danger"></i></td>
    <td class="tabicon"><i ng-if="server.semiSyncSlaveStatus==true" class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.semiSyncSlaveStatus==false" class="fa fa-1x fa-times-circle text-danger"></i></td>
      </tr>

  </table>
</td>
  </tr><tr>




        <td>
            <span ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Using GTID</span>
            <span ng-if="servers[0].dbVersion.flavor!='MariaDB' && slaves[0].haveMysqlGtid==true">Executed GTID Set</span>
        </td>
        <td class="gtid"><span
                ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">{{server.replications[0].usingGtid.String}}</span>
        <span ng-if="server.dbVersion.flavor!='MariaDB' && slaves[0].haveMysqlGtid==true">{{server.gtidExecuted}}</span>
        </td>

        </tr><tr>
        <td class="gtid">
            <span ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Current GTID</span>
            <span ng-if="slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">File</span>
        </td>
        <td class="gtid"><span
                ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true" title="{{gtidstring(server.currentGtid)}}">{{gtidstring(server.currentGtid)}}</span>
        <span ng-if="server.isSlave==true &&  slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.replications[0].masterLogFile.String}}</span>
        <span ng-if="server.isSlave==false && slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.binaryLogFile}}</span>
        </td>
        </tr><tr>
        <td class="gtid">
            <span ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Slave GTID</span>
            <span ng-if="slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">Pos</span>
        </td>


        <td class="gtid"><span
                ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true" title="{{gtidstring(server.slaveGtid)}}">{{gtidstring(server.slaveGtid)}}</span>
        <span ng-if="server.isSlave==true &&  slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.replications[0].execMasterLogPos.String}}</span>
        <span ng-if="server.isSlave==false && slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.binaryLogPos}}</span>
        </td>

        </tr><tr>
          <td>Delay</td>
          <td>{{server.replications[0].secondsBehindMaster.Int64}}</td>

      </tr><tr>
        <td >Master</td><td>{{server.replications[0].masterHost.String}}:{{server.replications[0].masterPort.String}}</td>
        </tr><tr>
        </tr><tr>
          <td>SQL error</td><td>{{server.replications[0].lastSqlErrno.String}}</td>
        </tr>
  </table>

</md-card>
</div>
</md-grid-tile>
</md-grid-list>
<div ng-include src="'static/dashboard/server-log.html'"></div>
</div>
