<div>
  <md-grid-list   md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="3:4" md-row-height="3:4" md-gutter="0px" md-gutter-gt-sm="0px">

      <md-grid-tile    ng-repeat="server in servers track by server.id"   ng-class="{'active':server.state=='Master','danger': server.state=='SlaveErr','warning': server.state=='SlaveLate'  }" >

<div style=" position: absolute;left: 0px;top: 0px;">
<md-card  ng-if="servers">
  <style >
    .mastertable th {
      background-color: rgb(51, 122, 183);
    }
  </style>
<table  border=0 ng-if="servers" class="table table-condensed fixed">
  <col style="width: 5%;">
  <col style="width: 30%;">
 <col style="width: 55%;">
 <col style="width: 5%;">
  <col style="width: 5%;">

      <tr  ng-click="openServer(server.id)">

     <th class="server.state == 'Master' ? 'mastertable' :  ''"   >
             <img ng-if="server.dbVersion.flavor=='MariaDB'" src="static/img/mariadb.svg"  class="vicon" />
              <img ng-if="server.dbVersion.flavor=='MySQL'"   src="static/img/mysql.png"    class="vicon"/>
              <img ng-if="server.dbVersion.flavor=='Percona'" src="static/img/percona.png"  class="vicon"/>
              <img ng-if="server.dbVersion.flavor=='PostgreSQL'" src="static/img/postgreesql.png"  style="padding: 0px;width: 24px;vertical-align: top;" />
      </th>
      <th colspan=2>{{server.host}}:{{server.port}}  </th>
        <th align="right">
          <div><md-button  style="min-width:20px;margin: 2px 2px 2px 2px;padding: 0 2px 0 2px;" class="md-raised" aria-label="Tabular" ng-click="toogleTabular()"><md-icon md-menu-origin class="fa fa-table"></md-icon></md-button></div>
          </th>
      <th align="right">
        <div align="right" ng-include src="'static/menu-server.html'"></div>
      </th>
      </tr><tr>
      <td colspan=5 style="padding: 0px;">
        <Table class="table fixed" style="border: 1px">
        <tr>
          <th class="tabicon">Status</th>
          <th class="tabicon">Prefered/Ignored</th>
          <th class="tabicon">Read Only</th>
          <th class="tabicon">Event Scheduler</th>
        </tr>
        <tr>
          <td ng-switch="server.state">
            <span ng-switch-when="Master" class="label label-primary">Master<label
                    ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                <span ng-switch-when="Failed" class="label label-danger">Failed<label
                        ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                <span ng-switch-when="Suspect" class="label label-warning">Suspect<label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                <span ng-switch-when="SlaveErr" class="label label-warning">Slave Error<label
                        ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                <span ng-switch-when="StandAlone" class="label label-info">Standalone<label
                        ng-if="server.isVirtualMaster==true">-VMaster</label></span>
                <span ng-switch-default class="label label-default">{{server.state}}
                    <label ng-if="server.isVirtualMaster==true">-VMaster</label></span>
          </td>
        <td align="center" class="tabicon"><i ng-if="server.ignored==true" class="fa fa-1x fa-thumbs-down text-danger"/><i
                ng-if="server.prefered==true" class="fa fa-1x fa-thumbs-up text-success"/></td>
        <td align="center" class="tabicon"><i ng-if="server.readOnly=='ON'" class="fa fa-1x fa-check-circle text-success"></i><i
                ng-if="server.readOnly!='ON'" class="fa fa-1x fa-times-circle text-danger"></i></td>
        <td align="center" class="tabicon"><i ng-if="server.eventScheduler==true" class="fa fa-1x fa-check-circle text-success"></i><i
                ng-if="server.eventScheduler==false" class="fa fa-1x fa-times-circle text-danger"></i></td>
        </tr>
        </table>
    </td>
    </tr><tr>
      <td colspan=2 class="rowicon">Version</td>
      <td colspan=2>{{server.dbVersion.flavor}} {{server.dbVersion.major}}.{{server.dbVersion.minor}}.{{server.dbVersion.release}}</td>
    </tr><tr>
        <td colspan=2 class="rowicon">Server Id</td>
        <td colspan=2 >{{server.serverId}}</td>
    </tr><tr>
          <td colspan=2 >Fail Cnt</td>
          <td colspan=2 >{{server.failCount}}/{{server.failSuspectHeartbeat}}</td>
    </tr>
</table>
  <table class="table fixed" style="border: 1px"  ng-repeat="replication in server.replications">
    <tr >
    <td colspan=4 style="padding: 0px;">
    <Table class="table table-condensed fixed" style="border: 1px">
    <tr>
      <th class="tabicon">IO Thread</th>
      <th class="tabicon">SQL Thread</th>
      <th class="tabicon">Master Sync</th>
      <th class="tabicon">Slave Sync</th>
    </tr><tr>

    <td align="center" class="tabicon"><i ng-if="replication.slaveIoRunning.String=='Yes'"
                         class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="replication.slaveIoRunning.String!='Yes'"
            class="fa fa-1x fa-times-circle text-danger"></i></td>
    <td align="center" class="tabicon"><i ng-if="replication.slaveSqlRunning.String=='Yes'"
                         class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="replication.slaveSqlRunning.String!='Yes'"
            class="fa fa-1x fa-times-circle text-danger"></i></td>

    <td align="center" class="tabicon"><i ng-if="server.semiSyncMasterStatus==true" class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.semiSyncMasterStatus==false" class="fa fa-1x fa-times-circle text-danger"></i></td>
    <td align="center" class="tabicon"><i ng-if="server.semiSyncSlaveStatus==true" class="fa fa-1x fa-check-circle text-success"></i><i
            ng-if="server.semiSyncSlaveStatus==false" class="fa fa-1x fa-times-circle text-danger"></i></td>
      </tr>

  </table>
</td>
  </tr><tr>
      <td  colspan=2 >Source</td>
      <td  colspan=2 >{{replication.replicationSourceName}}</td>
  </tr><tr  >


        <td colspan=2>
            <span ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Using GTID</span>
            <span ng-if="servers[0].dbVersion.flavor!='MariaDB' && slaves[0].haveMysqlGtid==true">Executed GTID Set</span>
        </td>
        <td colspan=2 class="gtid"><span
                ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">{{replication.usingGtid.String}}</span>
        <span ng-if="server.dbVersion.flavor!='MariaDB' && slaves[0].haveMysqlGtid==true">{{server.gtidExecuted}}</span>
        </td>

        </tr><tr>
        <td class="gtid" colspan=2>
            <span ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Current GTID</span>
            <span ng-if="slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">File</span>
        </td>
        <td class="gtid" colspan=2 ><span
                ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true" title="{{gtidstring(server.currentGtid)}}">{{gtidstring(server.currentGtid)}}</span>
        <span ng-if="server.isSlave==true &&  slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{replication.masterLogFile.String}}</span>
        <span ng-if="server.isSlave==false && slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.binaryLogFile}}</span>
        </td>
        </tr><tr>
        <td  colspan=2 class="gtid">
            <span ng-if="servers[0].dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true">Slave GTID</span>
            <span ng-if="slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">Pos</span>
        </td>
        <td colspan=2 class="gtid"><span
                ng-if="server.dbVersion.flavor=='MariaDB' && slaves[0].haveMariadbGtid==true" title="{{gtidstring(server.slaveGtid)}}">{{gtidstring(server.slaveGtid)}}</span>
        <span ng-if="server.isSlave==true &&  slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{replication.execMasterLogPos.String}}</span>
        <span ng-if="server.isSlave==false && slaves[0].haveMariadbGtid==false && slaves[0].haveMysqlGtid==false">{{server.binaryLogPos}}</span>
        </td>

        </tr><tr>
          <td  colspan=2 >Delay</td>
          <td  colspan=2 >{{replication.secondsBehindMaster.Int64}}</td>

      </tr><tr>
        <td colspan=2 >Master</td>
        <td colspan=2>{{replication.masterHost.String}}:{{replication.masterPort.String}}</td>
      </tr><tr>
          <td  colspan=2>SQL error</td>
          <td  colspan=2>{{replication.lastSqlError.String}}</td>
        </tr>
  </table>

</md-card>
</div>
</md-grid-tile>
</md-grid-list>
<div ng-include src="'static/dashboard/server-log.html'"></div>
</div>
