<md-card ng-if="settings.config.enterprise    && selectedCluster">
    <table style="" ng-if="settings" md-table class="table md-primary md-data-table">
        <tr md-row>
            <th>Database Tags</th>
        </tr>

    </table>
    <div style="padding: 0px 20px 10px 4px;"><span style="display:inline-block;"
                                                   ng-repeat="tag in selectedCluster.dbServersTags"
                                                   class="label label-success">{{ tag }}</span></div>


</md-card>