<md-card ng-if="settings.config.enterprise    && selectedCluster">
    <table style="" ng-if="settings" md-table class="table md-primary md-data-table">
        <tr md-row>
            <th>Database Tags</th>

        </tr>

    </table>
      <div style="padding: 0px 20px 10px 4px;">
        <b><u>Available</u></b><br>
        <span  ng-click="cladddbtag(tag.name)" style="display:inline-block;margin: 2px;" ng-repeat="tag in missingTags"
                                                   class="label label-danger">{{ tag.name }} <i class="fa fa-plus-circle" ng-click="cladddbtag(tag.name)"></i></span> </div>


<BR>
    <div style="padding: 0px 20px 10px 4px;">
      <b><u>Using</u></b><br>
      <span ng-click="cldropdbtag(tag.name)" style="display:inline-block;;margin: 2px;" ng-repeat="tag in selectedCluster.dbServersTags"
                                                   class="label label-success">{{ tag }} <i class="fa fa-minus-circle" ng-click="cldropdbtag(tag.name)"></i></span></div>


</md-card>
