.navbarContainer {
  width: 100%;
  box-shadow: $box-shadow-md;
  position: fixed;
  z-index: 2;
  width: '100%';
  padding: rem(8);

  display: flex;
  align-items: center;
  gap: rem(24);
  &.lightBackground {
    background: var(--body-bg-color);
  }
  &.darkBackground {
    background: var(--quaternary-color);
  }
}
.logo {
  border-radius: 4px;
}
.alerts {
  gap: rem(16);
}
